<div class="m-portlet"
     [ngClass]="{ 'm-portlet--body-progress' : isSaving, 'm-portlet--body-progress-overlay' : isSaving }">

    <div class="m-portlet__head">
        <div class="m-portlet__head-caption w-100">
            <div class="m-portlet__head-title w-100">
                <h5 class="modal-title w-100">
                    User Detail
                </h5>

                <m-history *ngIf="userRecord.id" [reference]="'users'" [id]="userRecord.id"></m-history>

                <button type="button" class="close pull-right" aria-label="Close" (click)="closeDialog()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-12">
            <form #userForm="ngForm">
                <mat-tab-group>
                    <mat-tab label="Detail">
                        <div class="m-portlet__body m-portlet__body--no-padding scroll-x-hide">
                            <div class="m-portlet__body-progress">
                                <mat-spinner [diameter]="20"></mat-spinner>
                            </div>
                            <!--<div class="row">-->
                            <!--<div class="col-md-12">-->
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <mat-form-field>
                                        <mat-label>First Name</mat-label>
                                        <input matInput [(ngModel)]="userRecord.first_name" name="first_name"
                                               required (keyup)="setUsername()">
                                    </mat-form-field>
                                </div>

                                <div class="form-group col-md-4">
                                    <mat-form-field>
                                        <mat-label>Last Name</mat-label>
                                        <input matInput [(ngModel)]="userRecord.last_name" name="last_name"
                                               required (keyup)="setUsername()">
                                    </mat-form-field>
                                </div>

                                <div class="form-group col-md-4">
                                    <mat-form-field>
                                        <mat-label>Username</mat-label>
                                        <input matInput name="user_name" [(ngModel)]="userRecord.user_name" readonly>
                                    </mat-form-field>
                                </div>

                                <div class="form-group col-md-4">
                                    <mat-form-field>
                                        <input matInput placeholder="Password"
                                               [(ngModel)]="userRecord.password"
                                               name="user_password"
                                               [required]="isRequirePsw"
                                               [type]="hidePassword ? 'password' : 'text'">
                                        <mat-icon matSuffix (click)="hidePassword = !hidePassword">
                                            {{hidePassword ?
                                            'visibility' :
                                            'visibility_off'}}
                                        </mat-icon>
                                    </mat-form-field>
                                </div>

                                <div class="form-group col-md-4">
                                    <mat-form-field>
                                        <mat-label>Email</mat-label>
                                        <input matInput name="email"
                                               [(ngModel)]="userRecord.email"
                                               email="true" required>
                                    </mat-form-field>
                                </div>

                                <div class="form-group col-md-4">
                                    <mat-form-field>
                                        <mat-label>Mobile</mat-label>
                                        <input type="text" minlength="10" maxlength="10" pattern="^[6-9][0-9]+"
                                               matInput
                                               [(ngModel)]="userRecord.mobile"
                                               name="phone"
                                               required>
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-md-4">
                                    <mat-form-field>
                                        <input matInput [(ngModel)]="userRecord.dob"
                                               [matDatepicker]="dob"
                                               (dateChange)="dobDateChangeEvent('dob')"
                                               placeholder="Birth Date" name="dob" required>
                                        <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
                                        <mat-datepicker #dob></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-md-4">
                                    <mat-label>Gender</mat-label>
                                    <div class="clearfix">
                                        <mat-radio-group [(ngModel)]="userRecord.gender" name="Gender">
                                            <mat-radio-button name="gender"
                                                              *ngFor="let itm of genders" [value]="itm.id">
                                                {{itm.name}}
                                            </mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                </div>

                                <div class="form-group col-md-4">
                                    <div class="set-apart">
                                        <search-select [required]="true"
                                                       placeholder="Office Location"
                                                       [formControl]="citiesLIst"
                                                       [dataSource]="locationDataSource"></search-select>
                                    </div>
                                </div>

                                <div class="form-group col-md-4">
                                    <mat-form-field>
                                        <mat-select placeholder="Designation"
                                                    [(ngModel)]="userRecord.designation_id"
                                                    name="designation_id" required>
                                            <mat-option *ngFor="let item of designations" [value]="item.id">
                                                {{item.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="form-group col-md-4" *ngIf="false">
                                    <mat-form-field>
                                        <mat-select placeholder="Department"
                                                    [(ngModel)]="userRecord.department_id"
                                                    name="department_id" required>
                                            <mat-option *ngFor="let item of departments" [value]="item.id">
                                                {{item.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="form-group col-md-4">
                                    <mat-form-field>
                                        <mat-select placeholder="Hotels"
                                                    [(ngModel)]="userRecord.hotelIds"
                                                    name="hotels" required multiple>
                                            <mat-option *ngFor="let item of hotels" [value]="item.id">
                                                {{item.code}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>


                                <div class="form-group col-md-3 m--margin-top-15">
                                    <section class="example-section">
                                        <mat-checkbox class="example-margin" name="user_status"
                                                      [(ngModel)]="userRecord.status">
                                            Is Enabled
                                        </mat-checkbox>
                                    </section>
                                </div>

                                <div class="form-group col-md-5 m--margin-top-15">
                                    <section class="example-section">
                                        <mat-checkbox class="example-margin" name="ota_booking_assign"
                                                      [(ngModel)]="userRecord.ota_booking_assign">
                                            Auto Assign To OTA Booking
                                        </mat-checkbox>
                                    </section>
                                </div>
                            </div>
                            <!--</div>-->
                            <!-- <div class="col-md-3">
                                 <image-upload
                                         [max]="1"
                                         [url]="'my-url.com'"
                                         [class]="'customClass'"
                                         [buttonCaption]="'Select Image!'"
                                         [dropBoxMessage]=""
                                         [extensions]="['jpg','png','gif']"
                                         [headers]="{Authorization: 'MyToken'}">
                                 </image-upload>
                             </div>-->
                            <!--</div>-->

                        </div>
                        <div class="modal-footer no-side-padding">
                            <button type="button" class="btn btn-secondary btn-sm" (click)="closeDialog()">
                                Close
                            </button>
                            <button type="button" (click)="saveUser()"
                                    [disabled]="userForm.invalid || isSaving || citiesLIst.errors"
                                    class="btn btn-primary btn-sm">
                                Save
                            </button>
                        </div>
                    </mat-tab>
                    <mat-tab label="Role & Permissions">
                        <div class="row">
                            <div class="col-md-3">
                                <mat-form-field>
                                    <mat-select placeholder="Role"
                                                [(ngModel)]="userRecord.role_id"
                                                name="user_role_id" required (selectionChange)="changeUserRole()">
                                        <mat-option *ngFor="let item of userRoles" [value]="item.id">
                                            {{item.display_name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-9 text-right">
                                <label (click)="changeViewPermissionCategory('Module')" class="hand-cursor"
                                       [ngClass]="{'text-primary':currentPermissionCategory==='Module'}">
                                    <b>
                                        MODULE
                                    </b>
                                </label>
                                <b class="text-gray">
                                    |
                                </b>
                                <label (click)="changeViewPermissionCategory('Other')" class="hand-cursor"
                                       [ngClass]="{'text-primary':currentPermissionCategory==='Other'}">
                                    <b>
                                        OTHER
                                    </b>
                                </label>
                            </div>
                            <div class="col-md-12" *ngIf="currentPermissionCategory==='Module'">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead class="thead-light">
                                        <tr>
                                            <th class="text-center">
                                                <b>
                                                    Permission
                                                </b>
                                            </th>
                                            <th class="text-center">
                                                <b>
                                                    View
                                                </b>
                                            </th>
                                            <th class="text-center">
                                                <b>
                                                    Add
                                                </b>
                                            </th>
                                            <th class="text-center">
                                                <b>
                                                    Update
                                                </b>
                                            </th>
                                            <th class="text-center">
                                                <b>
                                                    Delete
                                                </b>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let perm of userRecord.permissions.module_permissions | keyvalue; let i=index "
                                            class="permissions">
                                            <td class="text-right">
                                                {{perm.key | uppercase}}
                                            </td>
                                            <td class="text-center">
                                                <mat-button-toggle-group class="permission-switch" appearance="standard"
                                                                         name="permission_view_{{i}}"
                                                                         aria-label="First group"
                                                                         [(ngModel)]="perm.value.view">
                                                    <mat-button-toggle
                                                            [ngClass]="{'bg-success text-white':perm.value.view==(perm.key.toLowerCase() +'-view')}"
                                                            value="{{perm.key.toLowerCase() }}-view">
                                                        Y
                                                    </mat-button-toggle>
                                                    <mat-button-toggle
                                                            [ngClass]="{'bg-warning text-white':perm.value.view==(perm.key.toLowerCase() +'-view-responsible')}"
                                                            value="{{perm.key.toLocaleLowerCase()}}-view-responsible">
                                                        R
                                                    </mat-button-toggle>
                                                    <mat-button-toggle
                                                            [ngClass]="{'bg-danger text-white':perm.value.view==''}"
                                                            value="" (click)="disabledRelevantPermissions(perm.value)">
                                                        N
                                                    </mat-button-toggle>
                                                </mat-button-toggle-group>
                                            </td>

                                            <td class="text-center">
                                                <mat-button-toggle-group class="permission-switch" appearance="standard"
                                                                         name="permission_add_{{i}}"
                                                                         aria-label="First group"
                                                                         [(ngModel)]="perm.value.add">
                                                    <mat-button-toggle [disabled]="!perm.value.view"
                                                                       [ngClass]="{'bg-success text-white':perm.value.add==(perm.key.toLowerCase() +'-add')}"
                                                                       value="{{perm.key.toLowerCase() }}-add">
                                                        Y
                                                    </mat-button-toggle>

                                                    <mat-button-toggle
                                                            [ngClass]="{'bg-danger text-white':perm.value.add==''}"
                                                            value="" [disabled]="!perm.value.view">
                                                        N
                                                    </mat-button-toggle>
                                                </mat-button-toggle-group>
                                            </td>

                                            <td class="text-center">
                                                <mat-button-toggle-group class="permission-switch" appearance="standard"
                                                                         name="permission_update_{{i}}"
                                                                         aria-label="First group"
                                                                         [(ngModel)]="perm.value.update">
                                                    <mat-button-toggle [disabled]="!perm.value.view"
                                                                       [ngClass]="{'bg-success text-white':perm.value.update==(perm.key.toLowerCase() +'-update')}"
                                                                       value="{{perm.key.toLowerCase() }}-update">
                                                        Y
                                                    </mat-button-toggle>
                                                    <mat-button-toggle [disabled]="!perm.value.view"
                                                                       [ngClass]="{'bg-warning text-white':perm.value.update==(perm.key.toLowerCase() +'-update-responsible')}"
                                                                       value="{{perm.key.toLowerCase() }}-update-responsible">
                                                        R
                                                    </mat-button-toggle>
                                                    <mat-button-toggle [disabled]="!perm.value.view"
                                                                       [ngClass]="{'bg-danger text-white':perm.value.update==''}"
                                                                       value="">
                                                        N
                                                    </mat-button-toggle>
                                                </mat-button-toggle-group>
                                            </td>
                                            <td class="text-center">
                                                <mat-button-toggle-group class="permission-switch" appearance="standard"
                                                                         name="permission_delete_{{i}}"
                                                                         aria-label="First group"
                                                                         [(ngModel)]="perm.value.delete">
                                                    <mat-button-toggle [disabled]="!perm.value.view"
                                                                       [ngClass]="{'bg-success text-white':perm.value.delete==(perm.key.toLowerCase() +'-delete')}"
                                                                       value="{{perm.key.toLowerCase() }}-delete">
                                                        Y
                                                    </mat-button-toggle>
                                                    <mat-button-toggle [disabled]="!perm.value.view"
                                                                       [ngClass]="{'bg-warning text-white':perm.value.delete==(perm.key.toLowerCase() +'-delete-responsible')}"
                                                                       value="{{perm.key.toLowerCase() }}-delete-responsible">
                                                        R
                                                    </mat-button-toggle>
                                                    <mat-button-toggle [disabled]="!perm.value.view"
                                                                       [ngClass]="{'bg-danger text-white':perm.value.delete==''}"
                                                                       value="">
                                                        N
                                                    </mat-button-toggle>
                                                </mat-button-toggle-group>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="col-md-12" *ngIf="currentPermissionCategory==='Other'">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label class="text-info border-bottom w-100">Setting Permissions</label>
                                    </div>

                                    <div class="col-md-4 m--margin-top-10">
                                        <mat-button-toggle-group class="permission-switch" appearance="standard"
                                                                 name="fontStyle" aria-label="First group"
                                                                 [(ngModel)]="userRecord.permissions.other_permissions.settings">
                                            <mat-button-toggle
                                                    [ngClass]="{'bg-success text-white':userRecord.permissions.other_permissions.settings}"
                                                    value="settings">
                                                Y
                                            </mat-button-toggle>

                                            <mat-button-toggle
                                                    [ngClass]="{'bg-danger text-white':!userRecord.permissions.other_permissions.settings}"
                                                    value="">
                                                N
                                            </mat-button-toggle>
                                        </mat-button-toggle-group>
                                        <label class="m--margin-left-5">General Settings</label>
                                    </div>

                                    <div class="col-md-4 m--margin-top-10">
                                        <mat-button-toggle-group class="permission-switch" appearance="standard"
                                                                 name="fontStyle" aria-label="First group"
                                                                 [(ngModel)]="userRecord.permissions.other_permissions.user_management">
                                            <mat-button-toggle
                                                    [ngClass]="{'bg-success text-white':userRecord.permissions.other_permissions.user_management}"
                                                    value="user-management">
                                                Y
                                            </mat-button-toggle>

                                            <mat-button-toggle
                                                    [ngClass]="{'bg-danger text-white':!userRecord.permissions.other_permissions.user_management}"
                                                    value="">
                                                N
                                            </mat-button-toggle>
                                        </mat-button-toggle-group>
                                        <label class="m--margin-left-5">User Management</label>
                                    </div>

                                    <div class="col-md-4 m--margin-top-10">
                                        <mat-button-toggle-group class="permission-switch" appearance="standard"
                                                                 name="fontStyle" aria-label="First group"
                                                                 [(ngModel)]="userRecord.permissions.other_permissions.role_management">
                                            <mat-button-toggle
                                                    [ngClass]="{'bg-success text-white':userRecord.permissions.other_permissions.role_management}"
                                                    value="role-management">
                                                Y
                                            </mat-button-toggle>

                                            <mat-button-toggle
                                                    [ngClass]="{'bg-danger text-white':!userRecord.permissions.other_permissions.role_management}"
                                                    value="">
                                                N
                                            </mat-button-toggle>
                                        </mat-button-toggle-group>
                                        <label class="m--margin-left-5">Role Management</label>
                                    </div>

                                    <div class="col-md-4 m--margin-top-10">
                                        <mat-button-toggle-group class="permission-switch" appearance="standard"
                                                                 name="fontStyle" aria-label="First group"
                                                                 [(ngModel)]="userRecord.permissions.other_permissions.company_manage">
                                            <mat-button-toggle
                                                    [ngClass]="{'bg-success text-white':userRecord.permissions.other_permissions.company_manage}"
                                                    value="company-manage">
                                                Y
                                            </mat-button-toggle>

                                            <mat-button-toggle
                                                    [ngClass]="{'bg-danger text-white':!userRecord.permissions.other_permissions.company_manage}"
                                                    value="">
                                                N
                                            </mat-button-toggle>
                                        </mat-button-toggle-group>
                                        <label class="m--margin-left-5">Company Management</label>
                                    </div>

                                    <div class="col-md-4 m--margin-top-10">
                                        <mat-button-toggle-group class="permission-switch" appearance="standard"
                                                                 name="fontStyle" aria-label="First group"
                                                                 [(ngModel)]="userRecord.permissions.other_permissions.hotel_manage">
                                            <mat-button-toggle
                                                    [ngClass]="{'bg-success text-white':userRecord.permissions.other_permissions.hotel_manage}"
                                                    value="hotel-manage">
                                                Y
                                            </mat-button-toggle>

                                            <mat-button-toggle
                                                    [ngClass]="{'bg-danger text-white':!userRecord.permissions.other_permissions.hotel_manage}"
                                                    value="">
                                                N
                                            </mat-button-toggle>
                                        </mat-button-toggle-group>
                                        <label class="m--margin-left-5">Hotel Management</label>
                                    </div>

                                    <div class="col-md-4 m--margin-top-10">
                                        <mat-button-toggle-group class="permission-switch" appearance="standard"
                                                                 name="fontStyle" aria-label="First group"
                                                                 [(ngModel)]="userRecord.permissions.other_permissions.rooms_manage">
                                            <mat-button-toggle
                                                    [ngClass]="{'bg-success text-white':userRecord.permissions.other_permissions.rooms_manage}"
                                                    value="rooms-manage">
                                                Y
                                            </mat-button-toggle>

                                            <mat-button-toggle
                                                    [ngClass]="{'bg-danger text-white':!userRecord.permissions.other_permissions.rooms_manage}"
                                                    value="">
                                                N
                                            </mat-button-toggle>
                                        </mat-button-toggle-group>
                                        <label class="m--margin-left-5">Rooms Management</label>
                                    </div>

                                    <div class="col-md-4 m--margin-top-10">
                                        <mat-button-toggle-group class="permission-switch" appearance="standard"
                                                                 name="fontStyle" aria-label="First group"
                                                                 [(ngModel)]="userRecord.permissions.other_permissions.rate_plans">
                                            <mat-button-toggle
                                                    [ngClass]="{'bg-success text-white':userRecord.permissions.other_permissions.rate_plans}"
                                                    value="rate-plans">
                                                Y
                                            </mat-button-toggle>

                                            <mat-button-toggle
                                                    [ngClass]="{'bg-danger text-white':!userRecord.permissions.other_permissions.rate_plans}"
                                                    value="">
                                                N
                                            </mat-button-toggle>
                                        </mat-button-toggle-group>
                                        <label class="m--margin-left-5">Manage Rate Plans</label>
                                    </div>

                                    <div class="col-md-4 m--margin-top-10">
                                        <mat-button-toggle-group class="permission-switch" appearance="standard"
                                                                 name="fontStyle" aria-label="First group"
                                                                 [(ngModel)]="userRecord.permissions.other_permissions.rate_inventory">
                                            <mat-button-toggle
                                                    [ngClass]="{'bg-success text-white':userRecord.permissions.other_permissions.rate_inventory}"
                                                    value="rate-inventory">
                                                Y
                                            </mat-button-toggle>

                                            <mat-button-toggle
                                                    [ngClass]="{'bg-danger text-white':!userRecord.permissions.other_permissions.rate_inventory}"
                                                    value="">
                                                N
                                            </mat-button-toggle>
                                        </mat-button-toggle-group>
                                        <label class="m--margin-left-5">Rate & Inventory Manage</label>
                                    </div>


                                    <div class="col-md-4 m--margin-top-10">
                                        <mat-button-toggle-group class="permission-switch" appearance="standard"
                                                                 name="fontStyle" aria-label="First group"
                                                                 [(ngModel)]="userRecord.permissions.other_permissions.email_templates">
                                            <mat-button-toggle
                                                    [ngClass]="{'bg-success text-white':userRecord.permissions.other_permissions.email_templates}"
                                                    value="email-templates">
                                                Y
                                            </mat-button-toggle>

                                            <mat-button-toggle
                                                    [ngClass]="{'bg-danger text-white':!userRecord.permissions.other_permissions.email_templates}"
                                                    value="">
                                                N
                                            </mat-button-toggle>
                                        </mat-button-toggle-group>
                                        <label class="m--margin-left-5">Email Template Manage</label>
                                    </div>

                                    <div class="col-md-4 m--margin-top-10">
                                        <mat-button-toggle-group class="permission-switch" appearance="standard"
                                                                 name="fontStyle" aria-label="First group"
                                                                 [(ngModel)]="userRecord.permissions.other_permissions.cm_settings">
                                            <mat-button-toggle
                                                    [ngClass]="{'bg-success text-white':userRecord.permissions.other_permissions.cm_settings}"
                                                    value="cm-settings">
                                                Y
                                            </mat-button-toggle>

                                            <mat-button-toggle
                                                    [ngClass]="{'bg-danger text-white':!userRecord.permissions.other_permissions.cm_settings}"
                                                    value="">
                                                N
                                            </mat-button-toggle>
                                        </mat-button-toggle-group>
                                        <label class="m--margin-left-5">Channel Manager Mapping</label>
                                    </div>

                                    <div class="col-md-4 m--margin-top-10">
                                        <mat-button-toggle-group class="permission-switch" appearance="standard"
                                                                 name="fontStyle" aria-label="First group"
                                                                 [(ngModel)]="userRecord.permissions.other_permissions.cm_logs">
                                            <mat-button-toggle
                                                    [ngClass]="{'bg-success text-white':userRecord.permissions.other_permissions.cm_logs}"
                                                    value="cm-logs">
                                                Y
                                            </mat-button-toggle>

                                            <mat-button-toggle
                                                    [ngClass]="{'bg-danger text-white':!userRecord.permissions.other_permissions.cm_logs}"
                                                    value="">
                                                N
                                            </mat-button-toggle>
                                        </mat-button-toggle-group>
                                        <label class="m--margin-left-5">CM Logs</label>
                                    </div>

                                    <div class="col-md-4 m--margin-top-10">
                                        <mat-button-toggle-group class="permission-switch" appearance="standard"
                                                                 name="fontStyle" aria-label="First group"
                                                                 [(ngModel)]="userRecord.permissions.other_permissions.email_logs">
                                            <mat-button-toggle
                                                    [ngClass]="{'bg-success text-white':userRecord.permissions.other_permissions.email_logs}"
                                                    value="email-logs">
                                                Y
                                            </mat-button-toggle>

                                            <mat-button-toggle
                                                    [ngClass]="{'bg-danger text-white':!userRecord.permissions.other_permissions.email_logs}"
                                                    value="">
                                                N
                                            </mat-button-toggle>
                                        </mat-button-toggle-group>
                                        <label class="m--margin-left-5">Email Logs</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 m--margin-top-10">
                                        <label class="text-info border-bottom w-100">Dashboard Permissions</label>
                                    </div>

                                    <div class="col-md-4 m--margin-top-10">
                                        <mat-button-toggle-group class="permission-switch" appearance="standard"
                                                                 name="fontStyle" aria-label="First group"
                                                                 [(ngModel)]="userRecord.permissions.other_permissions.dashboard">
                                            <mat-button-toggle
                                                    [ngClass]="{'bg-success text-white':userRecord.permissions.other_permissions.dashboard}"
                                                    value="dashboard">
                                                Y
                                            </mat-button-toggle>

                                            <mat-button-toggle
                                                    [ngClass]="{'bg-danger text-white':!userRecord.permissions.other_permissions.dashboard}"
                                                    value="">
                                                N
                                            </mat-button-toggle>
                                        </mat-button-toggle-group>
                                        <label class="m--margin-left-5">View Dashboard</label>
                                    </div>

                                    <div class="col-md-4 m--margin-top-10">
                                        <mat-button-toggle-group class="permission-switch" appearance="standard"
                                                                 name="fontStyle" aria-label="First group"
                                                                 [(ngModel)]="userRecord.permissions.other_permissions.finance_dashboard">
                                            <mat-button-toggle
                                                    [ngClass]="{'bg-success text-white':userRecord.permissions.other_permissions.finance_dashboard}"
                                                    value="finance-dashboard">
                                                Y
                                            </mat-button-toggle>

                                            <mat-button-toggle
                                                    [ngClass]="{'bg-danger text-white':!userRecord.permissions.other_permissions.finance_dashboard}"
                                                    value="">
                                                N
                                            </mat-button-toggle>
                                        </mat-button-toggle-group>
                                        <label class="m--margin-left-5">Finance Dashboard</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 m--margin-top-10">
                                        <label class="text-info border-bottom w-100">Action Permissions</label>
                                    </div>

                                    <div class="col-md-4 m--margin-top-10">
                                        <mat-button-toggle-group class="permission-switch" appearance="standard"
                                                                 name="fontStyle" aria-label="First group"
                                                                 [(ngModel)]="userRecord.permissions.other_permissions.action_to_confirm_payment">
                                            <mat-button-toggle
                                                    [ngClass]="{'bg-success text-white':userRecord.permissions.other_permissions.action_to_confirm_payment}"
                                                    value="action-to-confirm-payment">
                                                Y
                                            </mat-button-toggle>

                                            <mat-button-toggle
                                                    [ngClass]="{'bg-danger text-white':!userRecord.permissions.other_permissions.action_to_confirm_payment}"
                                                    value="">
                                                N
                                            </mat-button-toggle>
                                        </mat-button-toggle-group>
                                        <label class="m--margin-left-5">Edit/Delete Confirmed Payment</label>
                                    </div>

                                    <div class="col-md-4 m--margin-top-10">
                                        <mat-button-toggle-group class="permission-switch" appearance="standard"
                                                                 name="fontStyle" aria-label="First group"
                                                                 [(ngModel)]="userRecord.permissions.other_permissions.account_tasks">
                                            <mat-button-toggle
                                                    [ngClass]="{'bg-success text-white':userRecord.permissions.other_permissions.account_tasks}"
                                                    value="account-tasks">
                                                Y
                                            </mat-button-toggle>

                                            <mat-button-toggle
                                                    [ngClass]="{'bg-danger text-white':!userRecord.permissions.other_permissions.account_tasks}"
                                                    value="">
                                                N
                                            </mat-button-toggle>
                                        </mat-button-toggle-group>
                                        <label class="m--margin-left-5">Account Tasks</label>
                                    </div>
                                    <div class="col-md-4 m--margin-top-10">
                                        <mat-button-toggle-group class="permission-switch" appearance="standard"
                                                                 name="fontStyle" aria-label="First group"
                                                                 [(ngModel)]="userRecord.permissions.other_permissions.revert_sale">
                                            <mat-button-toggle
                                                    [ngClass]="{'bg-success text-white':userRecord.permissions.other_permissions.revert_sale}"
                                                    value="revert-sale">
                                                Y
                                            </mat-button-toggle>

                                            <mat-button-toggle
                                                    [ngClass]="{'bg-danger text-white':!userRecord.permissions.other_permissions.revert_sale}"
                                                    value="">
                                                N
                                            </mat-button-toggle>
                                        </mat-button-toggle-group>
                                        <label class="m--margin-left-5">Allow To Revert Sale</label>
                                    </div>
									<div class="col-md-4 m--margin-top-10">
                                        <mat-button-toggle-group class="permission-switch" appearance="standard"
                                                                 name="fontStyle" aria-label="First group"
                                                                 [(ngModel)]="userRecord.permissions.other_permissions.release_booking">
                                            <mat-button-toggle
                                                    [ngClass]="{'bg-success text-white':userRecord.permissions.other_permissions.release_booking}"
                                                    value="release-booking">
                                                Y
                                            </mat-button-toggle>

                                            <mat-button-toggle
                                                    [ngClass]="{'bg-danger text-white':!userRecord.permissions.other_permissions.release_booking}"
                                                    value="">
                                                N
                                            </mat-button-toggle>
                                        </mat-button-toggle-group>
                                        <label class="m--margin-left-5">Release/Cancel Booking</label>
                                    </div>

                                    <div class="col-md-4 m--margin-top-10">
                                        <mat-button-toggle-group class="permission-switch" appearance="standard"
                                                                 name="fontStyle" aria-label="First group"
                                                                 [(ngModel)]="userRecord.permissions.other_permissions.company_credit_approve">
                                            <mat-button-toggle
                                                    [ngClass]="{'bg-success text-white':userRecord.permissions.other_permissions.company_credit_approve}"
                                                    value="company-credit-approve">
                                                Y
                                            </mat-button-toggle>

                                            <mat-button-toggle
                                                    [ngClass]="{'bg-danger text-white':!userRecord.permissions.other_permissions.company_credit_approve}"
                                                    value="">
                                                N
                                            </mat-button-toggle>
                                        </mat-button-toggle-group>
                                        <label class="m--margin-left-5">Approve Company Credit</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 m--margin-top-10">
                                        <label class="text-info border-bottom w-100">Report Permissions</label>
                                    </div>

                                    <div class="col-md-4 m--margin-top-10">
                                        <mat-button-toggle-group class="permission-switch" appearance="standard"
                                                                 name="fontStyle" aria-label="First group"
                                                                 [(ngModel)]="userRecord.permissions.other_permissions.booking_outstanding_report">
                                            <mat-button-toggle
                                                    [ngClass]="{'bg-success text-white':userRecord.permissions.other_permissions.booking_outstanding_report}"
                                                    value="booking-outstanding-report">
                                                Y
                                            </mat-button-toggle>

                                            <mat-button-toggle
                                                    [ngClass]="{'bg-danger text-white':!userRecord.permissions.other_permissions.booking_outstanding_report}"
                                                    value="">
                                                N
                                            </mat-button-toggle>
                                        </mat-button-toggle-group>
                                        <label class="m--margin-left-5">Booking Outstanding</label>
                                    </div>

                                    <div class="col-md-4 m--margin-top-10">
                                        <mat-button-toggle-group class="permission-switch" appearance="standard"
                                                                 name="fontStyle" aria-label="First group"
                                                                 [(ngModel)]="userRecord.permissions.other_permissions.booking_discount_report">
                                            <mat-button-toggle
                                                    [ngClass]="{'bg-success text-white':userRecord.permissions.other_permissions.booking_discount_report}"
                                                    value="booking-discount-report">
                                                Y
                                            </mat-button-toggle>

                                            <mat-button-toggle
                                                    [ngClass]="{'bg-danger text-white':!userRecord.permissions.other_permissions.booking_discount_report}"
                                                    value="">
                                                N
                                            </mat-button-toggle>
                                        </mat-button-toggle-group>
                                        <label class="m--margin-left-5">Booking Discount</label>
                                    </div>

                                    <div class="col-md-4 m--margin-top-10">
                                        <mat-button-toggle-group class="permission-switch" appearance="standard"
                                                                 name="fontStyle" aria-label="First group"
                                                                 [(ngModel)]="userRecord.permissions.other_permissions.booking_report">
                                            <mat-button-toggle
                                                    [ngClass]="{'bg-success text-white':userRecord.permissions.other_permissions.booking_report}"
                                                    value="booking-report">
                                                Y
                                            </mat-button-toggle>

                                            <mat-button-toggle
                                                    [ngClass]="{'bg-danger text-white':!userRecord.permissions.other_permissions.booking_report}"
                                                    value="">
                                                N
                                            </mat-button-toggle>
                                        </mat-button-toggle-group>
                                        <label class="m--margin-left-5">Booking Report</label>
                                    </div>

                                    <div class="col-md-4 m--margin-top-10">
                                        <mat-button-toggle-group class="permission-switch" appearance="standard"
                                                                 name="fontStyle" aria-label="First group"
                                                                 [(ngModel)]="userRecord.permissions.other_permissions.booking_status_report">
                                            <mat-button-toggle
                                                    [ngClass]="{'bg-success text-white':userRecord.permissions.other_permissions.booking_status_report}"
                                                    value="booking-status-report">
                                                Y
                                            </mat-button-toggle>

                                            <mat-button-toggle
                                                    [ngClass]="{'bg-danger text-white':!userRecord.permissions.other_permissions.booking_status_report}"
                                                    value="">
                                                N
                                            </mat-button-toggle>
                                        </mat-button-toggle-group>
                                        <label class="m--margin-left-5">Booking Status Report</label>
                                    </div>
                                </div>

                            </div>

                            <div class="modal-footer no-side-padding w-100">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="pull-left col-md-6">
                                            <mat-button-toggle-group class="permission-switch" appearance="standard"
                                                                     name="fontStyle"
                                                                     aria-label="First group">
                                                <mat-button-toggle class="bg-success text-white" disabled>
                                                    Y
                                                </mat-button-toggle>
                                            </mat-button-toggle-group>
                                            <label class="m--margin-right-5">&nbsp;- Yes</label>

                                            <mat-button-toggle-group class="permission-switch" appearance="standard"
                                                                     name="fontStyle"
                                                                     aria-label="First group">
                                                <mat-button-toggle class="bg-warning text-white" disabled>
                                                    R
                                                </mat-button-toggle>
                                            </mat-button-toggle-group>
                                            <label class="m--margin-right-5">&nbsp;- If Responsible</label>

                                            <mat-button-toggle-group class="permission-switch" appearance="standard"
                                                                     name="fontStyle"
                                                                     aria-label="First group">
                                                <mat-button-toggle class="bg-danger text-white" disabled>
                                                    N
                                                </mat-button-toggle>
                                            </mat-button-toggle-group>
                                            <label class="m--margin-right-5">&nbsp;- No</label>
                                        </div>

                                        <div class="col-md-6 text-right">
                                            <button type="button" class="btn btn-secondary btn-sm m--margin-right-5"
                                                    (click)="closeDialog()">
                                                Close
                                            </button>

                                            <button type="button" (click)="saveUser()"
                                                    [disabled]="userForm.invalid || isSaving || citiesLIst.errors"
                                                    class="btn btn-primary btn-sm">
                                                Save
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </form>
        </div>
    </div>
</div>
