.example-first-header-row th {
  border-bottom: none;
}

.example-second-header-row {
  font-style: italic;
}

.example-first-footer-row {
  font-weight: bold;
  border-bottom: none;
}

.example-second-footer-row td {
  color: #900000;
}

.hidden {
  display: none;
}

.items-per-page {
  padding-top: 3px;
  padding-bottom: 2px;
  border: 1px solid #ebedf2;
}
