<div class="m-widget14 top-no-pad bot-no-pad">
    <div class="m-widget14__header bot-no-pad">
        <div class="row">
            <div class="col-md-9">
                <h3 class="m-widget14__title">
                    Sales vs Outstanding
                </h3>
            </div>
            <div class="col-md-3">
                <ul class="m-portlet__nav pull-right bot-no-mar">
                    <li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
                        m-dropdown-toggle="hover">
                        <a href="javascript:;"
                           class="m-portlet__nav-link m-dropdown__toggle dropdown-toggle btn btn--sm m-btn--pill btn-secondary m-btn m-btn--label-brand">
                            View By
                        </a>
                        <div class="m-dropdown__wrapper">
                            <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                            <div class="m-dropdown__inner">
                                <div class="m-dropdown__body">
                                    <div class="m-dropdown__content">
                                        <ul class="m-nav">
                                            <li class="m-nav__section m-nav__section--first">
                                                <span class="m-nav__section-text">Group By</span>
                                            </li>


                                            <li class="m-nav__item"
                                                [ngClass]="{'m-nav__item--active':hotelChartConfig.groupBy==='user'}">
                                                <a href="javascript:;" class="m-nav__link"
                                                   (click)="changeGroupBy('user')">
                                                    <i class="m-nav__link-icon fas fa-user"></i>
                                                    <span class="m-nav__link-text">User</span>
                                                </a>
                                            </li>

                                            <li class="m-nav__item"
                                                [ngClass]="{'m-nav__item--active':hotelChartConfig.groupBy==='hotel'}">
                                                <a href="javascript:;" class="m-nav__link"
                                                   (click)="changeGroupBy('hotel')">
                                                    <i class="m-nav__link-icon fas fa-hotel"></i>
                                                    <span class="m-nav__link-text">Hotel</span>
                                                </a>
                                            </li>


                                            <li class="m-nav__separator m-nav__separator--fit"></li>
                                            <li class="m-nav__section m-nav__section--first">
                                                <span class="m-nav__section-text">By Date</span>
                                            </li>
                                            <li class="m-nav__item"
                                                [ngClass]="{'m-nav__item--active':hotelChartConfig.hotelOutStandingByValue==='inquiry_date'}">
                                                <a (click)="changeHotelStateByDate('inquiry_date')"
                                                   href="javascript:;" class="m-nav__link">
                                                    <i class="m-nav__link-icon fas fa-calendar-alt"></i>
                                                    <span class="m-nav__link-text">Inquiry Date</span>
                                                </a>
                                            </li>
                                            <li class="m-nav__item"
                                                [ngClass]="{'m-nav__item--active':hotelChartConfig.hotelOutStandingByValue==='check_in_date'}">
                                                <a href="javascript:;" class="m-nav__link"
                                                   (click)="changeHotelStateByDate('check_in_date')">
                                                    <i class="m-nav__link-icon fas fa-calendar-alt"></i>
                                                    <span class="m-nav__link-text">Checkin Date</span>
                                                </a>
                                            </li>


                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row text-center" *ngIf="isLoadingSaleOutstanding ||  outStandingChartData.length<1">
        <div class="col-md-12">
            <mat-spinner [diameter]="20" *ngIf="isLoadingSaleOutstanding"></mat-spinner>
            <label *ngIf="outStandingChartData.length<1 && !isLoadingSaleOutstanding">No data found</label>
        </div>
    </div>
    <canvas baseChart #baseSaleChart="base-chart"
            *ngIf="!isLoadingSaleOutstanding && outStandingChartData.length>0"
            [datasets]="outStandingChartData"
            [labels]="chartLabels"
            [options]="barChartOptions"
            [colors]="colors"
            [legend]="barChartLegend"
            [chartType]="'bar'"></canvas>
</div>
