<div class="m-portlet"
	 [ngClass]="{ 'm-portlet--body-progress' : isSaving , 'm-portlet--body-progress-overlay' : isSaving  }">

	<div class="m-portlet__head">
		<div class="m-portlet__head-caption w-100">
			<div class="m-portlet__head-title w-100">
				<h4 class="modal-title w-100">
					Distribution Wizard
				</h4>

				<button type="button" class="close pull-right" aria-label="Close" (click)="closeDialog()">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<mat-tab-group [(selectedIndex)]="selectedIndex">
			<mat-tab label="1. Select Update & Plans">
				<form #bulkUpdateFirstStep="ngForm">
					<div class="m-portlet__body m-portlet__body--no-padding scroll-x-hide m--padding-top-10">
						<div class="m-portlet__body-progress">
							<mat-spinner [diameter]="20"></mat-spinner>
						</div>

						<div class="row">
							<div class="form-group col-md-4">
								<mat-form-field>
									<mat-select placeholder="Hotel"
												[(ngModel)]="bulkUpdate.hotel_id" name="hotel_id"
												required (selectionChange)="loadRoomTypes()">
										<mat-option *ngFor="let itm of hotels" [value]="itm.id">
											{{itm.code}}
										</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
							<div class="form-group col-md-4">
								<mat-form-field>
									<mat-select placeholder="Source" [(ngModel)]="bulkUpdate.rate_source_id"
												name="rate_source_id" required>
										<mat-option *ngFor="let itm of inventorySources" [value]="itm.id">
											{{itm.name}}
										</mat-option>
									</mat-select>
								</mat-form-field>
							</div>

						</div>

						<div class="row m--margin-bottom-5">

							<div class="col-md-12 m--margin-bottom-10">
								<b>
									Select for Update
								</b>
							</div>

							<div class="col-md-12 m-separator m-separator--dashed" style="margin-top: 0px;"></div>
							<div class="col-md-12">
								<mat-radio-group [(ngModel)]="bulkUpdate.update_field" name="bulk_update_field">
									<mat-radio-button value="rate">Rates</mat-radio-button>
									<mat-radio-button value="min_nights">Min Nights</mat-radio-button>
									<mat-radio-button value="max_nights">Max Nights</mat-radio-button>
									<mat-radio-button value="is_stop_Sell">Stop Sell</mat-radio-button>
									<mat-radio-button value="coa">COA</mat-radio-button>
									<mat-radio-button value="inventory">Inventory</mat-radio-button>

								</mat-radio-group>
							</div>

							<div class=" m--margin-top-10"
								 [ngClass]="{'col-md-12':(bulkUpdate.update_field==='rate' ||
                                 bulkUpdate.update_field==='is_stop_Sell'),'col-md-6':(bulkUpdate.update_field!=='rate' ||
                                 bulkUpdate.update_field!=='is_stop_Sell') ,'col-md-4':(bulkUpdate.update_field==='inventory') }"
								 *ngFor="let rmType of roomTypes">
								<section>
									<mat-checkbox name="room_type_{{rmType.id}}"
												  (change)="roomTypePlansSelectionChange(rmType)"
												  [(ngModel)]="rmType.is_selected">
										<b>{{rmType.name}}</b>
									</mat-checkbox>
								</section>

								<div class="row" *ngIf="bulkUpdate.update_field!=='inventory'">
									<div
										class="col-md-12 m-separator m-separator--dashed m--margin-top-5 m--margin-bottom-5"></div>
									<div class="col-md-12 m--margin-top-5" *ngFor="let pln of rmType.plans">
										<section class="m--margin-left-15">
											<mat-checkbox name="room_type_pln_{{pln.id}}"
														  (change)="changeSelectionPlan(pln,rmType)"
														  [(ngModel)]="pln.is_selected"
														  [disabled]="(bulkUpdate.update_field==='rate' || bulkUpdate.update_field==='is_stop_Sell') && pln.isDerived">
												<b *ngIf="bulkUpdate.update_field==='rate' || bulkUpdate.update_field==='is_stop_Sell'">
													{{pln.name}}
												</b>
												<span
													*ngIf="bulkUpdate.update_field!=='rate' && bulkUpdate.update_field!=='is_stop_Sell'">
                                                    {{pln.name}}
                                                </span>
											</mat-checkbox>

											<div
												*ngIf="bulkUpdate.update_field==='rate' || bulkUpdate.update_field==='is_stop_Sell'">
												<div class="row m--margin-left-15">
													<div class="col-md-3" *ngFor="let mlPln of pln.mealplans">
														<mat-checkbox
															name="room_type_pln_mela_pln{{pln.id}}_{{mlPln.id}}"
															(change)="changeSelectionMealPlan()"
															[disabled]="!pln.is_selected"
															[(ngModel)]="mlPln.is_selected">
															{{mlPln.name}}
														</mat-checkbox>
													</div>
												</div>
											</div>
										</section>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer no-side-padding">
						<button type="button" class="btn btn-default btn-sm"
								[disabled]="bulkUpdateFirstStep.invalid || selectedPlansCount<1 || isSaving"
								(click)="changeTab(selectedIndex+1)">
							Next
						</button>

						<button type="button" class="btn btn-secondary btn-sm" (click)="closeDialog()">
							Close
						</button>
					</div>
				</form>
			</mat-tab>
			<mat-tab label="2. Select Date Range" [disabled]="selectedPlansCount<1">
				<div class="row w-100">
					<div class="form-group col-md-3">
						<mat-form-field>
							<input matInput [(ngModel)]="bulkUpdate.fromDate" [matDatepicker]="from_date"
								   (dateChange)="dateChangeEvent('fromDate')"
								   [min]="minFromDate"
								   placeholder="From Date" name="from_date" required>
							<mat-datepicker-toggle matSuffix [for]="from_date"></mat-datepicker-toggle>
							<mat-datepicker #from_date></mat-datepicker>
						</mat-form-field>
					</div>

					<div class="form-group col-md-3">
						<mat-form-field>
							<input matInput [(ngModel)]="bulkUpdate.toDate"
								   [matDatepicker]="toDate"
								   (dateChange)="dateChangeEvent('toDate')"
								   [min]="minToDate"
								   placeholder="To Date" name="toDate" required>
							<mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
							<mat-datepicker #toDate></mat-datepicker>
						</mat-form-field>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-12">
								<label>Select Days</label>
							</div>
							<div class="col-md-1" *ngFor="let itm of selectedDays">
								<section>
									<mat-checkbox name="day_{{itm.name}}"
												  [(ngModel)]="itm.is_selected">
									</mat-checkbox>
									<mat-label> {{itm.name}}</mat-label>
								</section>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer no-side-padding">
					<button type="button" class="btn btn-default btn-sm"
							(click)="changeTab(selectedIndex-1)">
						Previous
					</button>

					<button type="button" class="btn btn-default btn-sm"
							[disabled]="bulkUpdateFirstStep.invalid || selectedPlansCount<1 || isSaving"
							(click)="changeTab(selectedIndex+1)">
						Next
					</button>

					<button type="button" class="btn btn-secondary btn-sm" (click)="closeDialog()">
						Close
					</button>
				</div>
			</mat-tab>

			<mat-tab label="3. Select Update" [disabled]="selectedPlansCount<1">
				<form #bulkUpdateFinalStep="ngForm">
					<div class="m-portlet__body m-portlet__body--no-padding scroll-x-hide">
						<div class="m-portlet__body-progress">
							<mat-spinner [diameter]="20"></mat-spinner>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="table-responsive">
									<table class="table table-bordered">
										<tr>
											<th class="text-center" style="width: 250px">
												<h6 class="text-info">
													{{bulkUpdate.fromDate | date:'dd-MM-yyyy'}}
													({{bulkUpdate.fromDate | date:'EEE'}})
													- {{bulkUpdate.toDate | date:'dd-MM-yyyy'}}
													({{bulkUpdate.toDate | date:'EEE'}})
												</h6>
											</th>
											<th class="text-center">
												<h6 class="text-info">
													Update <span *ngIf="bulkUpdate.update_field==='max_nights'">Max Night</span>
													<span
														*ngIf="bulkUpdate.update_field==='min_nights'">Min Night</span>
													<span *ngIf="bulkUpdate.update_field==='rate'">Base Rate</span>
													<span *ngIf="bulkUpdate.update_field==='coa'">COA</span>
													<span *ngIf="bulkUpdate.update_field==='cod'">COD</span>
													<span
														*ngIf="bulkUpdate.update_field==='is_stop_Sell'">Stop Sell</span>
													<span *ngIf="bulkUpdate.update_field==='inventory'">Inventory</span>
												</h6>
											</th>
										</tr>
										<tr *ngIf="bulkUpdate.update_field==='inventory'">
											<td colspan="2">
												<section>
													<mat-checkbox name="sync_with_liv_inv"
																  [(ngModel)]="bulkUpdate.sync_live">
														Sync Live Inventory
													</mat-checkbox>
												</section>
											</td>
										</tr>
										<tbody *ngFor="let rmType of bulkUpdate.selected_room_plans">
										<tr [ngClass]="{'bg-light':bulkUpdate.update_field!=='inventory'}">
											<td colspan="2"
												*ngIf="bulkUpdate.update_field!=='inventory' || (bulkUpdate.sync_live)">
												<b>
													{{rmType.name}}
												</b>
											</td>

											<td *ngIf="bulkUpdate.update_field==='inventory' && !bulkUpdate.sync_live">
												<b>
													{{rmType.name}}
												</b>
											</td>
											<td *ngIf="bulkUpdate.update_field==='inventory' && !bulkUpdate.sync_live">
												<div class="row">
													<div class="col-md-4">
														<mat-form-field>
															<input matInput [(ngModel)]="rmType.inventory" type="number"
																   placeholder="Inventory"
																   name="pln{{rmType.id}}inventory">
														</mat-form-field>
													</div>
												</div>
											</td>
										</tr>
										<tr *ngFor="let pln of rmType.plans"
											[ngClass]="{'hidden':bulkUpdate.update_field==='inventory'}">
											<td>
												<ng-template #popContent>
													Base:
													&nbsp;{{pln.base_adult}}&nbsp;Adult&nbsp;/&nbsp;{{pln.base_child}}&nbsp;Child
													<br>Max:
													&nbsp;{{pln.max_adult}}&nbsp;Adult&nbsp;/&nbsp;{{pln.max_child}}&nbsp;Child
												</ng-template>

												<ng-template #mealPlanRates>
													<div class="table-responsive">
														<table class="table">
															<tr>
																<th>
																	Meal Plan
																</th>
																<th>
																	Rate
																</th>
																<th>
																	Adult
																</th>
																<th>
																	Child
																</th>
															</tr>
															<tr *ngFor="let mlPln of pln.mealplans">
																<td>
																	{{mlPln.name}}
																</td>
																<td class="text-right">
																	{{mlPln.rate | currency:'INR'}}
																</td>
																<td class="text-right">
																	{{mlPln.adult_rate | currency:'INR'}}
																</td>
																<td class="text-right">
																	{{mlPln.child_rate | currency:'INR'}}
																</td>
															</tr>
														</table>
													</div>
												</ng-template>

												<h6 class="bot-no-mar"
													[ngClass]="{'text-gray':pln.isDerived,'text-info':!pln.isDerived}">
													<i class="fa fa-info-circle text-gray" popoverTitle=""
													   placement="right"
													   [ngbPopover]="popContent"
													   triggers="mouseenter:mouseleave"></i>
													{{pln.name}}

													<span class="badge badge-primary hand-cursor" popoverTitle=""
														  placement="right" *ngIf="bulkUpdate.update_field==='rate'"
														  [ngbPopover]="mealPlanRates"
														  triggers="mouseenter:mouseleave">
                                                        {{pln.mealplans.length}}
                                                        </span>
												</h6>
												<div class="text-gray text-left">
													<span *ngIf="pln.isDerived">Derived</span>
													<span *ngIf="!pln.isDerived">Master</span>
												</div>
											</td>
											<td class="text-center">
												<div class="row" *ngIf="bulkUpdate.update_field==='min_nights'">
													<div class="col-md-4">
														<mat-form-field>
															<input matInput [(ngModel)]="pln.min_nights" type="number"
																   placeholder="Min Nights"
																   name="pln{{pln.id}}min_nights">
														</mat-form-field>
													</div>
												</div>
												<div class="row" *ngIf="bulkUpdate.update_field==='max_nights'">
													<div class="col-md-4">
														<mat-form-field>
															<input matInput [(ngModel)]="pln.max_nights" type="number"
																   placeholder="Max Nights"
																   name="pln{{pln.id}}max_nights">
														</mat-form-field>
													</div>
												</div>
												<div class="row" *ngIf="bulkUpdate.update_field==='is_stop_Sell'">
													<div class="col-md-4 text-center"
														 *ngFor="let mPln of getSelectedMealPlans(pln)">
														<section>
															<mat-checkbox name="pln_{{pln.id}}_{{mPln.id}}is_stop_Sell"
																		  [(ngModel)]="mPln.is_stop_Sell">
																{{mPln.name}}
															</mat-checkbox>
														</section>
													</div>
												</div>
												<div class="row" *ngIf="bulkUpdate.update_field==='coa'">
													<div class="col-md-4">
														<section>
															<mat-checkbox name="pln{{pln.id}}coa"
																		  [(ngModel)]="pln.coa">
															</mat-checkbox>
														</section>
													</div>
												</div>

												<div class="row" *ngIf="bulkUpdate.update_field==='cod'">
													<div class="col-md-4">
														<section>
															<mat-checkbox name="pln{{pln.id}}cod"
																		  [(ngModel)]="pln.cod">
															</mat-checkbox>
														</section>
													</div>
												</div>

												<div class="row" *ngIf="bulkUpdate.update_field==='rate'">
													<div class="col-md-4">
														<div matTooltip="+ {{pln.lp_rate_diff_price}}"
															 *ngIf="pln.isDerived">
															<i class="fa fa-info-circle"></i>
														</div>
														<mat-form-field>
															<input matInput [(ngModel)]="pln.rate" type="number"
																   placeholder="Base Rate"
																   (keyup)="changeMasterPlanRate(pln,rmType)"
																   name="pln{{pln.id}}base_rate">
														</mat-form-field>
													</div>

													<div class="col-md-4">
														<div matTooltip="+ {{pln.lp_adult_diff_price}}"
															 *ngIf="pln.isDerived">
															<i class="fa fa-info-circle"></i>
														</div>
														<mat-form-field>
															<input matInput [(ngModel)]="pln.adult_rate" type="number"
																   placeholder="Adult Rate"
																   (keyup)="changeMasterPlanRate(pln,rmType)"
																   name="pln{{pln.id}}adult_rate">
														</mat-form-field>
													</div>
													<div class="col-md-4">
														<div matTooltip="+ {{pln.lp_child_diff_price}}"
															 *ngIf="pln.isDerived">
															<i class="fa fa-info-circle"></i>
														</div>
														<mat-form-field>
															<input matInput [(ngModel)]="pln.child_rate" type="number"
																   placeholder="Child Rate"
																   (keyup)="changeMasterPlanRate(pln,rmType)"
																   name="pln{{pln.id}}child_rate">
														</mat-form-field>
													</div>

													<div class="col-md-12" *ngIf="pln.mealplans.length>0">
														<mat-accordion>
															<mat-expansion-panel>
																<mat-expansion-panel-header>
																	<mat-panel-title>
																		<h6>
																			Derived Plans({{pln.mealplans.length}})
																		</h6>
																		<hr>
																	</mat-panel-title>
																</mat-expansion-panel-header>

																<div class="row"
																	 *ngFor="let mPln of pln.mealplans">
																	<div class="col-md-3">
																		<h6 class="m--margin-top-10">
																			{{mPln.name}}
																		</h6>
																	</div>
																	<div class="col-md-3">
																		<div
																			matTooltip="+ {{mPln.lp_rate_diff_price}}"
																			*ngIf="mPln.isDerived">
																			<i class="fa fa-info-circle"></i>
																		</div>
																		<mat-form-field>
																			<input matInput [(ngModel)]="mPln.rate"
																				   type="number"
																				   placeholder="Base Rate"
																				   name="{{pln.id}}pln{{mPln.id}}_dm_base_rate">
																		</mat-form-field>
																	</div>

																	<div class="col-md-3">
																		<div
																			matTooltip="+ {{mPln.lp_adult_diff_price}}"
																			*ngIf="mPln.isDerived">
																			<i class="fa fa-info-circle"></i>
																		</div>
																		<mat-form-field>
																			<input matInput
																				   [(ngModel)]="mPln.adult_rate"
																				   type="number"
																				   placeholder="Adult Rate"
																				   name="{{pln.id}}pln{{mPln.id}}_dm_adult_rate">
																		</mat-form-field>
																	</div>
																	<div class="col-md-3">
																		<div
																			matTooltip="+ {{mPln.lp_child_diff_price}}"
																			*ngIf="mPln.isDerived">
																			<i class="fa fa-info-circle"></i>
																		</div>
																		<mat-form-field>
																			<input matInput
																				   [(ngModel)]="mPln.child_rate"
																				   type="number"
																				   placeholder="Child Rate"
																				   name="{{pln.id}}pln{{mPln.id}}_dm_child_rate">
																		</mat-form-field>
																	</div>
																</div>
															</mat-expansion-panel>
														</mat-accordion>
													</div>
												</div>
											</td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>

					<div class="modal-footer no-side-padding">
						<button type="button" class="btn btn-default btn-sm"
								[disabled]="bulkUpdateFinalStep.invalid || selectedPlansCount<1 || isSaving"
								(click)="changeTab(selectedIndex-1)">
							Previous
						</button>

						<button type="button" class="btn btn-sm btn-primary pull-right"
								[disabled]="bulkUpdateFinalStep.invalid || isSaving || !canApplyBulkUpdate()"
								(click)="save()">
							<span *ngIf="!isSaving">Apply</span>
							<span *ngIf="isSaving">Saving...</span>
						</button>

						<button type="button" class="btn btn-secondary btn-sm" (click)="closeDialog()">
							Close
						</button>
					</div>
				</form>
			</mat-tab>
		</mat-tab-group>
	</div>
</div>
