<m-portlet [options]="{headLarge: false}" [loading$]="dataSource.loading$">
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title w-100">
            <div class="col-md-4">
                <h3 class="m-portlet__head-text">
                    Companies
                </h3>
            </div>
            <div class="col-md-4">
                <mat-form-field>
                    <input class="pull-right w-100" matInput #searchInput
                           placeholder="Search">
                </mat-form-field>
            </div>
        </div>
    </ng-container>

    <ng-container mPortletHeadTools>
        <button mat-mini-fab color="default" class="m--margin-left-5-mobile"
                (click)="isCollapsedFilter = !isCollapsedFilter"
                [attr.aria-expanded]="!isCollapsedFilter"
                aria-controls="collapseExample"
                matTooltip="Filter">
            <i class="fa fa-filter" aria-hidden="true"></i>
        </button>

        <button mat-mini-fab color="primary" *ngxPermissionsOnly="['companies-add']" (click)="openCompanyDetail()"
                matTooltip="Create new company">
            <i class="fa fa-plus fa-2x"></i>
        </button>

        <button mat-mini-fab color="warn"
                matTooltip="Delete selected companies">
            <i class="fa fa-trash fa-2x"></i>
        </button>

    </ng-container>

    <ng-container mPortletBody>
        <div class="mat-table__wrapper">

            <div id="collapseExample" [ngbCollapse]="isCollapsedFilter">
                <div class="row">
                    <div class="col-md-2  form-group">
                        <label>Type</label>
                        <angular2-multiselect [data]="typeList" [(ngModel)]="selectedTypeLists"
                                              (onSelect)="onTypeSelect($event)"
                                              (onDeSelect)="onTypeSelect($event)"
                                              (onSelectAll)="onTypeSelect($event)"
                                              (onDeSelectAll)="onTypeSelect($event)"
                                              [settings]="typeListSettings">
                        </angular2-multiselect>
                    </div>

                    <div class="col-md-2  form-group">
                        <label>Industry</label>
                        <angular2-multiselect [data]="industryList" [(ngModel)]="selectedIndustryLists"
                                              (onSelect)="onIndustrySelect($event)"
                                              (onDeSelect)="onIndustrySelect($event)"
                                              (onSelectAll)="onIndustrySelect($event)"
                                              (onDeSelectAll)="onIndustrySelect($event)"
                                              [settings]="industryListSettings">
                        </angular2-multiselect>
                    </div>

                    <div class="col-md-2  form-group">
                        <label>Category</label>
                        <angular2-multiselect [data]="categoryList" [(ngModel)]="selectedCategoryLists"
                                              (onSelect)="onCategorySelect($event)"
                                              (onDeSelect)="onCategorySelect($event)"
                                              (onSelectAll)="onCategorySelect($event)"
                                              (onDeSelectAll)="onCategorySelect($event)"
                                              [settings]="categoryListSettings">
                        </angular2-multiselect>
                    </div>

                    <div class="col-md-2  form-group">
                        <label>Rate Source</label>
                        <angular2-multiselect [data]="rateSourceList" [(ngModel)]="selectedRateSourceLists"
                                              (onSelect)="onRateSourceSelect($event)"
                                              (onDeSelect)="onRateSourceSelect($event)"
                                              (onSelectAll)="onRateSourceSelect($event)"
                                              (onDeSelectAll)="onRateSourceSelect($event)"
                                              [settings]="rateSourceListSettings">
                        </angular2-multiselect>
                    </div>

                    <div class="col-md-2  form-group">
                        <label for="is_credit_list_filter">Credit Listed</label>
                        <select class="form-control" id="is_credit_list_filter" name="is_credit_list_filter" [(ngModel)]="customFilters.is_credit_list">
                            <option value="">Select</option>
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                    </div>

                    <div class="col-md-2  form-group">
                        <label for="credit_approved_filter">Credit Approved</label>
                        <select class="form-control" id="credit_approved_filter" name="credit_approved_filter" [(ngModel)]="customFilters.credit_approved">
                            <option value="">Select</option>
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                    </div>

                    <div class="col-md-12">
                        <button type="button" class="btn btn-sm btn-primary pull-right"
                                (click)="applyFilter()">
                            Apply
                        </button>

                        <button type="button" (click)="resetFilter()"
                                class="btn btn-sm btn-secondary pull-right m--margin-right-5">
                            Reset
                        </button>
                    </div>
                </div>
                <hr>
            </div>

            <mat-table #table [dataSource]="dataSource" matSort class="lmat-elevation-z8">

                <ng-container matColumnDef="select">
                    <mat-header-cell *matHeaderCellDef class="mat-column-checkbox">
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                                      [checked]="selection.hasValue() && isAllSelected()"
                                      [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" class="mat-column-checkbox">
                        <mat-checkbox (click)="$event.stopPropagation()"
                                      (change)="$event ? selection.toggle(row) : null"
                                      [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                    </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.name}}</mat-cell>
                </ng-container>

                <!-- Person Name Column -->
                <ng-container matColumnDef="person_name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Person Name</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.person_name}}</mat-cell>
                </ng-container>

                <!-- Designation Column -->
                <ng-container matColumnDef="designation">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Designation</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.designation}}</mat-cell>
                </ng-container>

                <!-- Phone Column -->
                <ng-container matColumnDef="phone">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Phone</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.phone}}</mat-cell>
                </ng-container>

                <!-- Mobile Column -->
                <ng-container matColumnDef="mobile">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Mobile</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.mobile}}</mat-cell>
                </ng-container>

                <!-- Email Column -->
                <ng-container matColumnDef="email">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.email}}</mat-cell>
                </ng-container>

                <!-- Type Column -->
                <ng-container matColumnDef="type">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span *ngIf="element.type==0">Company</span>
                        <span *ngIf="element.type==1">Travel Agent</span>
                        <span *ngIf="element.type==2">OTA</span>
                    </mat-cell>
                </ng-container>

                <!-- City Column -->
                <ng-container matColumnDef="city">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>City</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element.city}}
                    </mat-cell>
                </ng-container>

                <!-- Updated At Column -->
                <ng-container matColumnDef="updated_at">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Updated At</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.updated_at| date:'dd-MM-yyyy h:mm a'}}</mat-cell>
                    <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                </ng-container>

                <!-- Action Column -->
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef class="mat-cell-right">Actions</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-cell-right">
                        <button mat-icon-button color="primary" matTooltip="Detail"
                                (click)="openCompanyDetail(element)">
                            <mat-icon>create</mat-icon>
                        </button>&nbsp;
                        <button mat-icon-button color="warn" matTooltip="Delete company" type="button"
                                *ngxPermissionsOnly="['companies-delete']" (click)="deleteCompany(element)">
                            <mat-icon>delete</mat-icon>
                        </button>&nbsp;
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <div class="mat-table__message" *ngIf="!dataSource.hasItems">No records found</div>
        </div>
        <div class="mat-table__bottom">
            <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
            <mat-paginator [hidePageSize]="true" [length]="dataSource.paginatorTotal$ | async"
                           [showFirstLastButtons]="true"
                           [pageSizeOptions]="[itemsPerPage]"></mat-paginator>
        </div>
    </ng-container>
</m-portlet>
