<div class="m-portlet"
     [ngClass]="{ 'm-portlet--body-progress' : isSaving, 'm-portlet--body-progress-overlay' : isSaving }">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption w-100">
            <div class="m-portlet__head-title w-100">
                <h5 class="modal-title w-100">
                    Copy Room
                </h5>

                <button type="button" class="close pull-right" aria-label="Close" (click)="closeDialog()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-12 w-100">
        <form #copyRoomFilters="ngForm">
            <div class="m-portlet__body m-portlet__body--no-padding scroll-x-hide m--padding-top-10">
                <div class="m-portlet__body-progress">
                    <mat-spinner [diameter]="20"></mat-spinner>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        <mat-form-field>
                            <mat-label>Name</mat-label>
                            <input matInput disabled [(ngModel)]="currentRecord.name" name="type_name" required>
                        </mat-form-field>
                    </div>

                    <div class="form-group col-md-6">
                        <mat-form-field>
                            <mat-select placeholder="To Hotel" [(ngModel)]="currentRecord.hotel_id"
                                        name="hotel_id"
                                        required>
                                <mat-option *ngFor="let item of roomSettings.hotels" [value]="item.id">
                                    {{item.code}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="form-group col-md-6">
                        <mat-form-field>
                            <mat-select placeholder="Room Type" [(ngModel)]="currentRecord.room_type_id"
                                        name="room_Type_id"
                                        required>
                                <mat-option *ngFor="let item of roomSettings.roomTypes" [value]="item.id">
                                    {{item.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="form-group col-md-6">
                        <mat-form-field>
                            <mat-select placeholder="Bed Type" [(ngModel)]="currentRecord.bed_type_id"
                                        name="bed_type_id"
                                        required>
                                <mat-option *ngFor="let item of roomSettings.bedTypes" [value]="item.id">
                                    {{item.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="form-group col-md-12">
                        <mat-label>Copy Options</mat-label>
                        <div class="clearfix">
                            <mat-radio-group [(ngModel)]="currentRecord.copy_type" name="copy_type">
                                <mat-radio-button name="copy_type"
                                                  *ngFor="let itm of copyOptions" [value]="itm">
                                    {{itm}}
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>

                    <div class="form-group col-md-12" *ngIf="currentRecord.copy_type==='Custom'">
                        <mat-form-field>
                            <mat-label>Enter Room Numbers with comma separated values</mat-label>
                            <textarea matInput type="text" name="room_numbers" [(ngModel)]="currentRecord.room_numbers"
                                      matAutosizeMinRows="4"
                                      matAutosizeMaxRows="4"
                                      rows="4"
                                      id="room_numbers" autocomplete="off"></textarea>
                        </mat-form-field>
                    </div>

                </div>

                <div class="row" *ngIf="currentRecord.copy_type==='Range'">
                    <div class="form-group col-md-6">
                        <mat-form-field>
                            <mat-label>From</mat-label>
                            <input type="number" matInput [(ngModel)]="currentRecord.range_from" name="from" required>
                        </mat-form-field>
                    </div>

                    <div class="form-group col-md-6">
                        <mat-form-field>
                            <mat-label>To</mat-label>
                            <input type="number" matInput [(ngModel)]="currentRecord.range_to" name="to" required>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="modal-footer no-side-padding">
                <button type="button" class="btn btn-secondary m-btn--sm" (click)="closeDialog()">
                    Close
                </button>

                <button type="button" class="btn m-btn--sm btn-primary pull-right"
                        [disabled]="copyRoomFilters.invalid || isSaving"
                        (click)="save()">
                    Copy
                </button>
            </div>
        </form>
    </div>
</div>