<div class="row">
    <div class="col-xl-3 col-lg-4">
        <div class="m-portlet m-portlet--full-height">
            <div class="m-portlet__body">
                <div class="m-card-profile">
                    <div class="m-card-profile__title m--hide">
                        Your Profile
                    </div>
                    <div class="m-card-profile__pic">
                        <div class="m-card-profile__pic-wrapper">
                            <img [src]="userDetail.image ? userDetail.image : './assets/app/media/img/users/user-pic.png'" alt="" altSrc="./assets/app/media/img/users/user-pic.png" onerror="this.src = $(this).attr('altSrc')"/>
                        </div>
                    </div>
                    <div class="m-card-profile__details">
                        <span class="m-card-profile__name">
                            {{userDetail.name}}
                        </span>
                        <a href="javascript:void(0)" class="m-card-profile__email m-link">
                            {{userDetail.email}}
                        </a>

                        <div>
                            <a href="javascript:void(0)" class="m-card-profile__email m-link">
                                ({{userDetail.user_name}})
                            </a>
                        </div>
                    </div>
                </div>
                <ul class="m-nav m-nav--hover-bg m-portlet-fit--sides m--hide">
                    <li class="m-nav__separator m-nav__separator--fit"></li>
                    <li class="m-nav__section m--hide">
                        <span class="m-nav__section-text">Section</span>
                    </li>
                    <li class="m-nav__item">
                        <a href="?page=header/profile&amp;demo=default" class="m-nav__link">
                            <i class="m-nav__link-icon flaticon-profile-1"></i>
                            <span class="m-nav__link-title">
                              <span class="m-nav__link-wrap">
                                  <span class="m-nav__link-text">My Profile</span>
                                  <span class="m-nav__link-badge">
                                      <span class="m-badge m-badge--success">2</span>
                                  </span>
                              </span>
                          </span>
                        </a>
                    </li>
                    <li class="m-nav__item">
                        <a href="?page=header/profile&amp;demo=default" class="m-nav__link">
                            <i class="m-nav__link-icon flaticon-share"></i>
                            <span class="m-nav__link-text">Activity</span>
                        </a>
                    </li>
                    <li class="m-nav__item">
                        <a href="?page=header/profile&amp;demo=default" class="m-nav__link">
                            <i class="m-nav__link-icon flaticon-chat-1"></i>
                            <span class="m-nav__link-text">Messages</span>
                        </a>
                    </li>
                    <li class="m-nav__item">
                        <a href="?page=header/profile&amp;demo=default" class="m-nav__link">
                            <i class="m-nav__link-icon flaticon-graphic-2"></i>
                            <span class="m-nav__link-text">Sales</span>
                        </a>
                    </li>
                    <li class="m-nav__item">
                        <a href="?page=header/profile&amp;demo=default" class="m-nav__link">
                            <i class="m-nav__link-icon flaticon-time-3"></i>
                            <span class="m-nav__link-text">Events</span>
                        </a>
                    </li>
                    <li class="m-nav__item">
                        <a href="?page=header/profile&amp;demo=default" class="m-nav__link">
                            <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                            <span class="m-nav__link-text">Support</span>
                        </a>
                    </li>
                </ul>
                <div class="m-portlet__body-separator"></div>
                <div class="m-widget1 m-widget1--paddingless m--hide">
                    <div class="m-widget1__item">
                        <div class="row m-row--no-padding align-items-center">
                            <div class="col">
                                <h3 class="m-widget1__title">Member Profit</h3>
                                <span class="m-widget1__desc">Awerage Weekly Profit</span>
                            </div>
                            <div class="col m--align-right">
                                <span class="m-widget1__number m--font-brand">+$17,800</span>
                            </div>
                        </div>
                    </div>
                    <div class="m-widget1__item">
                        <div class="row m-row--no-padding align-items-center">
                            <div class="col">
                                <h3 class="m-widget1__title">Orders</h3>
                                <span class="m-widget1__desc">Weekly Customer Orders</span>
                            </div>
                            <div class="col m--align-right">
                                <span class="m-widget1__number m--font-danger">+1,800</span>
                            </div>
                        </div>
                    </div>
                    <div class="m-widget1__item">
                        <div class="row m-row--no-padding align-items-center">
                            <div class="col">
                                <h3 class="m-widget1__title">Issue Reports</h3>
                                <span class="m-widget1__desc">System bugs and issues</span>
                            </div>
                            <div class="col m--align-right">
                                <span class="m-widget1__number m--font-success">-27,49%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-9 col-lg-8">
        <div class="m-portlet m-portlet--full-height m-portlet--tabs  ">
            <div class="m-portlet__head">
                <div class="m-portlet__head-tools mt-4">
                    <h3>Edit profile details</h3>
                </div>
                <!--<div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">
                        <li class="m-portlet__nav-item m-portlet__nav-item&#45;&#45;last">
                            <div class="m-dropdown m-dropdown&#45;&#45;inline m-dropdown&#45;&#45;arrow m-dropdown&#45;&#45;align-right m-dropdown&#45;&#45;align-push"
                                 m-dropdown-toggle="hover" aria-expanded="true">
                                <a href="#"
                                   class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn&#45;&#45;icon m-btn&#45;&#45;icon-only m-btn&#45;&#45;pill  m-dropdown__toggle">
                                    <i class="la la-gear"></i>
                                </a>
                                <div class="m-dropdown__wrapper" style="z-index: 101;">
                                    <span class="m-dropdown__arrow m-dropdown__arrow&#45;&#45;right m-dropdown__arrow&#45;&#45;adjust"
                                          style="left: auto; right: 21.5px;"></span>
                                    <div class="m-dropdown__inner">
                                        <div class="m-dropdown__body">
                                            <div class="m-dropdown__content">
                                                <ul class="m-nav">
                                                    <li class="m-nav__section m-nav__section&#45;&#45;first">
                                                        <span class="m-nav__section-text">Quick Actions</span>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a href="" class="m-nav__link">
                                                            <i class="m-nav__link-icon flaticon-share"></i>
                                                            <span class="m-nav__link-text">Create Post</span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a href="" class="m-nav__link">
                                                            <i class="m-nav__link-icon flaticon-chat-1"></i>
                                                            <span class="m-nav__link-text">Send Messages</span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a href="" class="m-nav__link">
                                                            <i class="m-nav__link-icon flaticon-multimedia-2"></i>
                                                            <span class="m-nav__link-text">Upload File</span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__section">
                                                        <span class="m-nav__section-text">Useful Links</span>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a href="" class="m-nav__link">
                                                            <i class="m-nav__link-icon flaticon-info"></i>
                                                            <span class="m-nav__link-text">FAQ</span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a href="" class="m-nav__link">
                                                            <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                                            <span class="m-nav__link-text">Support</span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__separator m-nav__separator&#45;&#45;fit m&#45;&#45;hide"></li>
                                                    <li class="m-nav__item m&#45;&#45;hide">
                                                        <a href="#"
                                                           class="btn btn-outline-danger m-btn m-btn&#45;&#45;pill m-btn&#45;&#45;wide btn-sm">Submit</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>-->
            </div>
            <div class="m-portlet__body">
                <form #userProfileForm="ngForm" class="m-form m-form--fit m-form--label-align-right">
                    <div class="m-portlet__body">
                        <div class="m-portlet__body-progress">
                            <mat-spinner [diameter]="20"></mat-spinner>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <mat-form-field>
                                    <mat-label>First Name</mat-label>
                                    <input matInput [(ngModel)]="userDetail.first_name" name="first_name"
                                           required disabled>
                                </mat-form-field>
                            </div>

                            <div class="form-group col-md-6">
                                <mat-form-field>
                                    <mat-label>Last Name</mat-label>
                                    <input matInput [(ngModel)]="userDetail.last_name" name="last_name"
                                           required disabled>
                                </mat-form-field>
                            </div>

                            <div class="form-group col-md-6">
                                <mat-form-field>
                                    <input matInput placeholder="Password"
                                           [(ngModel)]="userDetail.password"
                                           name="user_password"
                                           [type]="hidePassword ? 'password' : 'text'">
                                    <mat-icon matSuffix (click)="hidePassword = !hidePassword">
                                        {{hidePassword ?
                                        'visibility' :
                                        'visibility_off'}}
                                    </mat-icon>
                                </mat-form-field>
                            </div>

                            <div class="form-group col-md-6">
                                <mat-form-field>
                                    <mat-label>Email</mat-label>
                                    <input matInput name="email"
                                           [(ngModel)]="userDetail.email"
                                           email="true" required disabled>
                                </mat-form-field>
                            </div>

                            <div class="form-group col-md-6">
                                <mat-form-field>
                                    <mat-label>Mobile</mat-label>
                                    <input type="text" minlength="10" maxlength="10" pattern="^[6-9][0-9]+"
                                           matInput
                                           [(ngModel)]="userDetail.mobile"
                                           name="phone"
                                           required>
                                </mat-form-field>
                            </div>

                            <div class="form-group col-md-6">
                                <mat-form-field>
                                    <input matInput [(ngModel)]="userDetail.dob"
                                           [matDatepicker]="dob"
                                           (dateChange)="dobDateChangeEvent('dob')"
                                           placeholder="Birth Date" name="dob" required>
                                    <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
                                    <mat-datepicker #dob></mat-datepicker>
                                </mat-form-field>
                            </div>

                            <div class="form-group col-md-6">
                                <mat-label>Gender</mat-label>
                                <div class="clearfix">
                                    <mat-radio-group [(ngModel)]="userDetail.gender" name="Gender">
                                        <mat-radio-button name="gender"
                                                          *ngFor="let itm of genders" [value]="itm.id">
                                            {{itm.name}}
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                <mat-label>Profile Image</mat-label> <!--*ngIf="!userDetail.image && !userDetail.isReadOnly"-->
                                <angular-file-uploader *ngIf="!userDetail.image"
                                                        (ApiResponse)="userFileUploaded($event)"
                                                       [config]="afuConfig">
                                </angular-file-uploader>

                                <div *ngIf="userDetail.image">
                                    <a href="javascript:;">
                                        <i class="fa fa-paperclip"></i>
                                    </a>
                                    <a [href]="userDetail.image" target="_blank">
                                        <img [src]="userDetail.image ? userDetail.image : './assets/app/media/img/users/user-pic.png'" class="m--img-rounded user-preview-img" alt="" altSrc="./assets/app/media/img/users/user-pic.png" onerror="this.src = $(this).attr('altSrc')" style="max-height: 50px; margin: 0 15px;"/>
                                    </a>
                                    <a href="javascript:;" class="m&#45;&#45;margin-left-10"
                                       (click)="deleteUserImage(userDetail)">
                                        <i class="fa fa-times text-danger"></i>
                                    </a>
                                </div>
                            </div>

                            <div class="col-md-12 m-portlet__foot m-portlet__foot--fit">
                                <div class="m-form__actions">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="button" (click)="resetUser()"
                                                    class="btn btn-secondary m-btn m-btn--air m-btn--custom pull-right">
                                                Reset
                                            </button>
                                            <button type="button" (click)="saveUser()"
                                                    [disabled]="userProfileForm.invalid || isSaving"
                                                    class="btn btn-accent m-btn m-btn--air m-btn--custom pull-right mr-3">
                                                Save
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
