<div class="m-portlet"
     [ngClass]="{ 'm-portlet--body-progress' : isSaving, 'm-portlet--body-progress-overlay' : isSaving }">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption w-100">
            <div class="m-portlet__head-title w-100">
                <h4 class="modal-title w-100">
                    Dynamic Dashboards
                </h4>

                <button mat-mini-fab color="primary" class="m--margin-left-5-mobile btn-sm"
                        (click)="openEntryForm(dynamicDashboardsDetailModel)"
                        matTooltip="Create New">
                    <i class="fa fa-plus fa-2x"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <form #dynamicDashboardsForm="ngForm">
            <div class="m-portlet__body m-portlet__body--no-padding">
                <div class="m-portlet__body-progress">
                    <mat-spinner [diameter]="20"></mat-spinner>
                </div>

                <div class="mat-table__wrapper basic-setting">

                    <mat-table #table [dataSource]="dataSource" matSort class="lmat-elevation-z8">

                        <!-- Title Column -->
                        <ng-container matColumnDef="title">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.title}}</mat-cell>
                        </ng-container>

                        <!-- Slug Column -->
                        <ng-container matColumnDef="slug">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Slug</mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <a [href]="element.slug" target="_blank">{{element.slug}}</a>
                            </mat-cell>
                        </ng-container>

                        <!-- Is Enable Column-->
                        <ng-container matColumnDef="is_enable">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Is Enable</mat-header-cell>
                            <mat-cell *matCellDef="let element">
								<span class="m-badge  m-badge--wide"
                                      [ngClass]="{'m-badge--success':element.is_enable,
													'm-badge--danger':!element.is_enable}">
									{{element.is_enable ? 'Enable' : 'Disable'}} <!-- {{element.is_enable}} -->
								</span>
                            </mat-cell>
                        </ng-container>

                        <!-- Action Column -->
                        <ng-container matColumnDef="actions">
                            <mat-header-cell *matHeaderCellDef class="mat-cell-right">Actions</mat-header-cell>
                            <mat-cell *matCellDef="let element" class="mat-cell-right">
                                <button mat-icon-button color="primary" matTooltip="Edit"
                                        (click)="openEntryForm(dynamicDashboardsDetailModel,element)">
                                    <mat-icon>create</mat-icon>
                                </button>&nbsp;
                                <button mat-icon-button color="warn" matTooltip="Delete" type="button"
                                        (click)="deleteRecord(element)">
                                    <mat-icon>delete</mat-icon>
                                </button>&nbsp;
                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                    <div class="mat-table__message" *ngIf="!dataSource.hasItems">
                        No records found
                    </div>
                </div>
                <div class="mat-table__bottom">
                    <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
                    <mat-paginator [hidePageSize]="true" [length]="dataSource.paginatorTotal$ | async"
                                   [showFirstLastButtons]="true"
                                   [pageSizeOptions]="[itemsPerPage]"></mat-paginator>
                </div>
            </div>
            <div class="modal-footer no-side-padding">
                <button type="button" class="btn btn-secondary m-btn--sm" (click)="closeDialog()">
                    Close
                </button>
            </div>
        </form>
    </div>
</div>


<ng-template #dynamicDashboardsDetailModel let-c="close" let-d="dismiss">
    <div class="modal-header m--padding-bottom-5">
        <h5 class="modal-title">
            Dynamic Dashboards Detail
        </h5>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form #dynamicDashboardsForm="ngForm">
        <div class="modal-body">
            <div class="row">
                <div class="form-group col-md-12">
                    <mat-form-field>
                        <mat-label>Title</mat-label>
                        <input matInput name="title" id="title"
                               autocomplete="off"
                               [(ngModel)]="currentRecord.title" required>
                    </mat-form-field>
                </div>
                <div class="form-group col-md-12">
                    <mat-form-field>
                        <mat-label>Slug</mat-label>
                        <input matInput name="slug" id="slug" pattern="^[a-z0-9]+(?:-[a-z0-9]+)*$"
                               autocomplete="off"
                               [(ngModel)]="currentRecord.slug" required>
                    </mat-form-field>
                </div>
                <div class="form-group col-md-12">
                    <mat-form-field>
                        <mat-label>URL</mat-label>
                        <input type="url" matInput
                               pattern="(https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9]+\.[^\s]{2,}|www\.[a-zA-Z0-9]+\.[^\s]{2,})"
                               name="url" id="url" autocomplete="off"
                               [(ngModel)]="currentRecord.url" required>
                    </mat-form-field>
                </div>
                <div class="form-group col-md-12">
                    <section>
                        <mat-label>Is Enable &nbsp;</mat-label>
                        <mat-checkbox class="example-margin" name="is_enable"
                                      [(ngModel)]="currentRecord.is_enable">
                        </mat-checkbox>
                    </section>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-md" #closeBtn (click)="c('Close click')">
                Close
            </button>
            <button type="button"
                    [disabled]="dynamicDashboardsForm.invalid || isSaving"
                    class="btn btn-primary btn-sm" (click)="save()">
                Save
            </button>
        </div>
    </form>
</ng-template>
