<div class="m-portlet"
     [ngClass]="{ 'm-portlet--body-progress' : isSaving, 'm-portlet--body-progress-overlay' : isSaving }">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption w-100">
            <div class="m-portlet__head-title w-100">
                <h4 class="modal-title w-100">
                    Inquiry Statuses
                </h4>

                <button mat-mini-fab color="primary" class="m--margin-left-5-mobile btn-sm"
                        (click)="openDetailForm()"
                        matTooltip="Create New">
                    <i class="fa fa-plus fa-2x"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <form #inquiryStatusesForm="ngForm">
            <div class="m-portlet__body m-portlet__body--no-padding">
                <div class="m-portlet__body-progress">
                    <mat-spinner [diameter]="20"></mat-spinner>
                </div>

                <div class="mat-table__wrapper basic-setting">

                    <mat-table #table [dataSource]="dataSource" matSort class="lmat-elevation-z8">

                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.name}}</mat-cell>
                        </ng-container>

                        <!-- Description Column -->
                        <ng-container matColumnDef="description">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.description}}</mat-cell>
						</ng-container>

                        <ng-container matColumnDef="sub_statuses">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Sub Statuses</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.sub_statuses.length}}</mat-cell>
						</ng-container>

						<!-- Is Confirmed Column-->
						<ng-container matColumnDef="is_confirmed">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Confirmed</mat-header-cell>
							<mat-cell *matCellDef="let element">
								<i class="fa fa-check text-success text-center w-100" *ngIf="element.is_confirmed"></i> <!-- {{element.is_confirmed}} -->
							</mat-cell>
						</ng-container>

						<!-- Is Sold Column-->
						<ng-container matColumnDef="is_sold">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Sold</mat-header-cell>
							<mat-cell *matCellDef="let element">
								<i class="fa fa-check text-success text-center w-100" *ngIf="element.is_sold"></i> <!-- {{element.is_sold}} -->
							</mat-cell>
						</ng-container>

						<!-- Is Lost Column-->
						<ng-container matColumnDef="is_lost">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Lost</mat-header-cell>
							<mat-cell *matCellDef="let element">
								<i class="fa fa-check text-success text-center w-100" *ngIf="element.is_lost"></i> <!-- {{element.is_lost}} -->
							</mat-cell>
						</ng-container>

						<!-- Is Waitlisted Column-->
						<ng-container matColumnDef="is_waitlisted">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Waitlisted</mat-header-cell>
							<mat-cell *matCellDef="let element">
								<i class="fa fa-check text-success text-center w-100" *ngIf="element.is_waitlisted"></i> <!-- {{element.is_waitlisted}} -->
							</mat-cell>
						</ng-container>

                        <!-- Action Column -->
                        <ng-container matColumnDef="actions">
                            <mat-header-cell *matHeaderCellDef class="mat-cell-right">Actions</mat-header-cell>
                            <mat-cell *matCellDef="let element" class="mat-cell-right">
                                <button mat-icon-button color="primary" matTooltip="Edit"
                                        (click)="openDetailForm(element)">
                                    <mat-icon>create</mat-icon>
                                </button>&nbsp;
                                <button mat-icon-button color="warn" matTooltip="Delete" type="button"
                                        (click)="deleteRecord(element)" [disabled]="element.is_system">
                                    <mat-icon>delete</mat-icon>
                                </button>&nbsp;
                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                    <div class="mat-table__message" *ngIf="!dataSource.hasItems">
                        No records found
                    </div>
                </div>
                <div class="mat-table__bottom">
                    <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
                    <mat-paginator [hidePageSize]="true" [length]="dataSource.paginatorTotal$ | async"
                                   [showFirstLastButtons]="true"
                                   [pageSizeOptions]="[itemsPerPage]"></mat-paginator>
                </div>
            </div>
            <div class="modal-footer no-side-padding">
                <button type="button" class="btn btn-secondary m-btn--sm" (click)="closeDialog()">
                    Close
                </button>
            </div>
        </form>
    </div>
</div>


<!-- <ng-template #inquiryStatusesDetailModel let-c="close" let-d="dismiss">
    <div class="modal-header m--padding-bottom-5">
        <h5 class="modal-title">
            Inquiry Statuses Detail
        </h5>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form #inquiryStatusesForm="ngForm">
        <div class="modal-body">
            <div class="row">
                <div class="form-group col-md-12">
                    <mat-form-field>
                        <mat-label>Name</mat-label>
                        <input matInput name="name" id="name"
                               autocomplete="off"
                               [(ngModel)]="currentRecord.name" required>
                    </mat-form-field>
                </div>
                <div class="form-group col-md-12">
                    <mat-form-field>
                        <mat-label>Description</mat-label>
                        <textarea matInput type="text" name="description" [(ngModel)]="currentRecord.description"
                                  matAutosizeMinRows="3"
                                  matAutosizeMaxRows="6"
                                  id="description" autocomplete="off"></textarea>
                    </mat-form-field>
				</div>
				<div class="form-group col-md-12">
                    <mat-form-field>
                        <mat-label>Color Code</mat-label>
                        <input matInput name="color_code" id="color_code"
                               autocomplete="off"
                               [(ngModel)]="currentRecord.color_code" required>
                    </mat-form-field>
                </div>
				<div class="form-group col-md-6">
                    <section>
                        <mat-checkbox class="example-margin" name="is_confirmed"
									  [(ngModel)]="currentRecord.is_confirmed"
									  [disabled]="disabledIsConfirmed" (change)="isConfirmedChange($event)">
									  Confirmed
                        </mat-checkbox>
                    </section>
				</div>
				<div class="form-group col-md-6">
                    <section>
                        <mat-checkbox class="example-margin" name="is_sold"
									  [(ngModel)]="currentRecord.is_sold"
									  [disabled]="disabledIsSold" (change)="isSoldChange($event)">
									  Sold
                        </mat-checkbox>
                    </section>
				</div>
				<div class="form-group col-md-6">
                    <section>
                        <mat-checkbox class="example-margin" name="is_lost"
									  [(ngModel)]="currentRecord.is_lost"
									  [disabled]="disabledIsLost" (change)="isLostChange($event)">
									  Lost
						</mat-checkbox>
                    </section>
				</div>
				<div class="form-group col-md-6">
                    <section>
                        <mat-checkbox class="example-margin" name="is_waitlisted"
									  [(ngModel)]="currentRecord.is_waitlisted"
									  [disabled]="disabledIsWaitlisted" (change)="isWaitlistedChange($event)">
									  Waitlisted
                        </mat-checkbox>
                    </section>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-md" #closeBtn (click)="c('Close click')">
                Close
            </button>
            <button type="button"
                    [disabled]="inquiryStatusesForm.invalid || isSaving"
                    class="btn btn-primary btn-sm" (click)="save()">
                Save
            </button>
        </div>
    </form>
</ng-template> -->
