<div class="m-portlet"
     [ngClass]="{ 'm-portlet--body-progress' : isSaving, 'm-portlet--body-progress-overlay' : isSaving }">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption w-100">
            <div class="m-portlet__head-title w-100">
                <h4 class="modal-title w-100">
                    Lead Detail
                </h4>

                <button type="button" class="close pull-right" aria-label="Close" (click)="closeDialog()">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-12">
            <form #leadDetailForm="ngForm">
                <div class="m-portlet__body m-portlet__body--no-padding scroll-x-hide m--padding-top-10">
                    <div class="m-portlet__body-progress">
                        <mat-spinner [diameter]="20"></mat-spinner>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <mat-form-field>
                                <mat-label>Name</mat-label>
                                <input matInput name="am_name" id="am_name"
                                       autocomplete="off"
                                       [(ngModel)]="currentRecord.name" required>
                            </mat-form-field>
                        </div>

                        <div class="form-group col-md-6">
                            <mat-form-field>
                                <mat-label>Email</mat-label>
                                <input matInput name="email" id="email"
                                       autocomplete="off" type="email"
                                       [(ngModel)]="currentRecord.email">
                            </mat-form-field>
                        </div>
                        <div class="form-group col-md-6">
                            <mat-form-field>
                                <mat-label>Mobile</mat-label>
                                <input matInput name="mobile" id="mobile"
                                       autocomplete="off"
                                       [(ngModel)]="currentRecord.mobile" required>
                            </mat-form-field>
                        </div>
                        <div class="form-group col-md-6">
                            <mat-form-field>
                                <mat-select placeholder="Area Interest" multiple
                                            [(ngModel)]="currentRecord.area_interested" name="payment_mode"
                                            required>
                                    <mat-option *ngFor="let city of cityLists" [value]="city.id">
                                        {{city.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="form-group col-md-12">
                            <mat-form-field>
                                <mat-label>Note</mat-label>
                                <textarea matInput type="text" name="remark_note"
                                          [(ngModel)]="currentRecord.description"
                                          rows="2"
                                          id="remark_note" autocomplete="off"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="modal-footer no-side-padding">
                    <button type="button" mat-button mat-dialog-close tabindex="-1" class="btn btn-default btn-sm"
                            (click)="closeDialog()">
                        Close
                    </button>

                    <button type="button"
                            [disabled]="leadDetailForm.invalid || isSaving"
                            class="btn btn-primary btn-sm" (click)="save()">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
