<m-portlet [options]="{headLarge: false}" [loading$]="dataSource.loading$">
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title w-100">
            <div class="col-md-4">
                <h3 class="m-portlet__head-text">
                    Hotels
                </h3>
            </div>
            <div class="col-md-4">
                <mat-form-field>
                    <input class="pull-right w-100" matInput #searchInput
                           placeholder="Search">
                </mat-form-field>
            </div>
        </div>
    </ng-container>

    <ng-container mPortletHeadTools>
        <button mat-mini-fab color="primary" (click)="openDetailForm()" matTooltip="Create new user">
            <i class="fa fa-plus fa-2x"></i>
        </button>

        <!-- <button mat-mini-fab color="warn"
                 matTooltip="Delete selected DSR">
             <i class="fa fa-trash fa-2x"></i>
         </button>-->

    </ng-container>

    <ng-container mPortletBody>
        <div class="mat-table__wrapper">

            <mat-table #table [dataSource]="dataSource" matSort class="lmat-elevation-z8">

                <ng-container matColumnDef="select">
                    <mat-header-cell *matHeaderCellDef class="mat-column-checkbox">
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                                      [checked]="selection.hasValue() && isAllSelected()"
                                      [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" class="mat-column-checkbox">
                        <mat-checkbox (click)="$event.stopPropagation()"
                                      (change)="$event ? selection.toggle(row) : null"
                                      [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                    </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.name}}</mat-cell>
                </ng-container>


                <!-- Name Column -->
                <ng-container matColumnDef="code">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Code</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.code}}</mat-cell>
                </ng-container>

                <!-- Mobile Column -->
                <ng-container matColumnDef="mobile">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Mobile</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.mobile}}</mat-cell>
                </ng-container>

                <!-- Email Column -->
                <ng-container matColumnDef="email">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.email}}</mat-cell>
                </ng-container>

                <!-- Status Column -->
                <ng-container matColumnDef="is_enabled">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                    <!--<mat-cell *matCellDef="let element">
                        <span *ngIf="element.status===1">Enabled</span>
                        <span *ngIf="element.status===0">Disabled</span>
                    </mat-cell>-->
                    <mat-cell *matCellDef="let element">
                        <mat-slide-toggle [color]="'primary'" [(ngModel)]="element.is_enabled" (change)="onStatusChange(element, $event)">
                            <mat-spinner [diameter]="20" *ngIf="element.isSaving" style="margin-left: 15px"></mat-spinner>
                        </mat-slide-toggle>
                    </mat-cell>
                </ng-container>

                <!-- Department Column -->
                <ng-container matColumnDef="department">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-cell-center">Department
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-cell-center">{{element.department}}</mat-cell>
                </ng-container>

                <!-- Location Column -->
                <ng-container matColumnDef="location">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-cell-center">Location
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-cell-center">{{element.location}}</mat-cell>
                </ng-container>

                <!-- Organization Column -->
                <ng-container matColumnDef="org_code">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-cell-center">Organization
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-cell-center">{{element.org_code}}</mat-cell>
                </ng-container>

                <!-- Action Column -->
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef class="mat-cell-right">Actions</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-cell-right">
                        <button mat-icon-button color="primary" matTooltip="Edit"
                                (click)="openDetailForm(element)">
                            <mat-icon>create</mat-icon>
                        </button>&nbsp;
                        <!--<button mat-icon-button color="warn" matTooltip="Delete" type="button"
                                (click)="deleteUser(element)">
                            <mat-icon>delete</mat-icon>
                        </button>&nbsp;-->
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <div class="mat-table__message" *ngIf="!dataSource.hasItems">No records found</div>
        </div>
        <div class="mat-table__bottom">
            <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
            <mat-paginator [hidePageSize]="true" [length]="dataSource.paginatorTotal$ | async"
                           [showFirstLastButtons]="true"
                           [pageSizeOptions]="[itemsPerPage]"></mat-paginator>
        </div>
    </ng-container>
</m-portlet>
