<button class="btn btn-success btn-sm m--margin-right-15" (click)="openHistory(historyModal)"
        matTooltip="Show history">
    <i class="fa fa-history"></i>
</button>


<ng-template #historyModal let-c="close" let-d="dismiss">
    <div class="modal-header m--padding-bottom-5">
        <h4 class="modal-title">History</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="m-portlet__body-progress w-100" *ngIf="isLoading">
                <mat-spinner [diameter]="20"></mat-spinner>
            </div>
            <div class="col-md-12" style="max-height: 400px;    overflow: auto;">
                <ul class="timeline">
                    <li *ngFor="let history of histories">
                        <span class="time-line-date">
                            {{history.created_at | date:'dd LLL yyyy'}}
                        </span>
                        <span class="float-right">{{history.created_at | date:'shortTime'}}</span>
                        <p class="m--margin-top-5">
                            <span *ngIf="history.body_prefix">{{history.body_prefix}} - </span>
                            <span [innerHTML]="history.body"></span> by
                            <span *ngIf="loggedInUser.id===history.actor_id">You</span>
                            <span *ngIf="loggedInUser.id!==history.actor_id">{{history.actor.name}}</span>
                        </p>
                        <hr>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</ng-template>
