<div class="m-portlet"
     [ngClass]="{ 'm-portlet--body-progress' : isSaving || isLoading,
     'm-portlet--body-progress-overlay' : isSaving || isLoading }">

    <div class="m-portlet__head">
        <div class="m-portlet__head-caption w-100">
            <div class="m-portlet__head-title w-100">
                <h5 class="modal-title w-100">
                    Template Assignments
                </h5>

                <button type="button" class="close pull-right" aria-label="Close" (click)="closeDialog()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    <form #templateAssignment="ngForm">
        <div class="m-portlet__body m--padding-top-5">

            <div class="m-portlet__body-progress">
                <mat-spinner [diameter]="20"></mat-spinner>
            </div>
            <div class="row" *ngFor="let template of templateAssignments;let i=index">
                <div class="col-md-7">
                    {{template.name}}
                </div>
                <div class="col-md-5">
                    <mat-form-field>
                        <mat-select placeholder="Template" [(ngModel)]="template.template_id"
                                    name="template{{i}}">
                            <mat-option *ngFor="let item of emailTemplates" [value]="item.id">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeDialog()">
                Close
            </button>
            <button type="button" color="primary"
                    (click)="save()"
                    [disabled]="isSaving"
                    class="btn btn-primary">
                Save
            </button>
        </div>
    </form>
</div>
