<div class="m-portlet  m-portlet--full-height"
     [ngClass]="{ 'm-portlet--body-progress' : isLoading,  'm-portlet--body-progress-overlay' :  isLoading }">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption ng-star-inserted">
            <div class="m-portlet__head-title w-100">
                <div class="row w-100">
                    <div class="col-md-8">
                        <h3 class="m-portlet__head-text m--margin-top-15">
                            Booking Outstanding Report
                        </h3>
                    </div>
                    <div class="col-md-4 m-0-auto mr-0">
                        <mat-form-field>
                            <input class="pull-right w-100" matInput #searchInput
                                   placeholder="Search">
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>

        <div class="m-portlet__head-tools">
            <button mat-mini-fab color="default" class="m--margin-left-5-mobile"
                    (click)="isCollapsedFilter = !isCollapsedFilter"
                    [attr.aria-expanded]="!isCollapsedFilter"
                    aria-controls="collapseExample"
                    matTooltip="Filter">
                <i class="fa fa-filter" aria-hidden="true"></i>
            </button>

            <a href="javascript:void(0)" class="btn btn-default btn-sm m--margin-left-5" *ngIf="reportCollectionCount>0"
               (click)="exportReportData()">
                <i class="fa fa-file-pdf icon-big text-danger"></i>
            </a>

            <a href="javascript:void(0)" class="btn btn-default btn-sm m--margin-left-5" *ngIf="reportCollectionCount>0"
               (click)="exportReportData('excel')">
                <i class="fa fa-file-excel icon-big text-success"></i>
            </a>
        </div>

    </div>
    <div class="m-portlet__body m-portlet__body--no-padding">
        <div class="col-md-12 m--margin-top-10">
            <div class="m-portlet__body-progress">
                <mat-spinner [diameter]="20"></mat-spinner>
            </div>

            <div id="collapseExample" [ngbCollapse]="isCollapsedFilter">
                <div class="row">
                    <div class="col-md-3  form-group">
                        <label>Assign To</label>
                        <angular2-multiselect [data]="userList" [(ngModel)]="selectedUserLists"
                                              (onSelect)="onUserSelect($event)"
                                              (onDeSelect)="onUserSelect($event)"
                                              (onSelectAll)="onUserSelect($event)"
                                              (onDeSelectAll)="onUserSelect($event)"
                                              [settings]="userListSettings">
                        </angular2-multiselect>
                    </div>

                    <div class="col-md-3  form-group">
                        <label>Hotel</label>
                        <angular2-multiselect [data]="hotelList" [(ngModel)]="selectedHotelLists" (ngModelChange)="onHotelSelect()"
                                              (onSelect)="onHotelSelect($event)"
                                              (onDeSelect)="onHotelSelect($event)"
                                              (onSelectAll)="onHotelSelect($event)"
                                              (onDeSelectAll)="onHotelSelect($event)"
                                              [settings]="hotelListSettings">
                        </angular2-multiselect>
                    </div>

                    <div class="col-md-3 form-group">
                        <label>Status</label>
                        <angular2-multiselect [data]="inquiryStatusList" [(ngModel)]="selectedStatuses"
                                              (onSelect)="onStatusSelect($event)"
                                              (onDeSelect)="onStatusSelect($event)"
                                              (onSelectAll)="onStatusSelect($event)"
                                              (onDeSelectAll)="onStatusSelect($event)"
                                              [settings]="statusSettings">
                        </angular2-multiselect>
                    </div>

                    <div class="col-md-3  form-group">
                        <label>Source</label>
                        <angular2-multiselect [data]="inquirySourceList" [(ngModel)]="selectedSourcesLists"
                                              (onSelect)="onSourceSelectionEvent($event)"
                                              (onDeSelect)="onSourceSelectionEvent($event)"
                                              (onSelectAll)="onSourceSelectionEvent($event)"
                                              (onDeSelectAll)="onSourceSelectionEvent($event)"
                                              [settings]="sourceSettings">
                        </angular2-multiselect>
                    </div>

                    <div class="col-md-3  form-group" *ngIf="searchCompanyTypes.length>0">
                        <label>Company</label>
                        <angular2-multiselect [data]="companyLists" [(ngModel)]="selectedCompanies"
                                              [settings]="companySettings"
                                              (onSelect)="onCompanySelectEvent($event)"
                                              (onDeSelect)="onCompanySelectEvent($event)"
                                              (onSelectAll)="onCompanySelectEvent($event)"
                                              (onDeSelectAll)="onCompanySelectEvent($event)">
                            <c-search>
                                <ng-template>
                                    <input type="text" (keyup)="onSearchCompany($event)" placeholder="Search countries"
                                           style="border: none;width: 100%; height: 100%;outline: none;"/>
                                </ng-template>
                            </c-search>
                            <c-item>
                                <ng-template let-item="item">
                                    <label>{{item.name}}</label>
                                </ng-template>
                            </c-item>
                        </angular2-multiselect>
                    </div>

                    <div class="col-md-3  form-group">
                        <label>Group By</label>
                        <select class="form-control text-center" name="groupByFilter"
                                [(ngModel)]="customFilters.group_by">
                            <option value="">None</option>
                            <option value="hotel">Hotel</option>
                            <option value="guest">Guest</option>
                            <option value="source">Source</option>
                            <option value="co_ota_ta">Co. / OTA / TA</option>
                            <option value="sales_person">Sales Person</option>
                        </select>
                    </div>

                    <div class="col-md-3  form-group">
                        <label>Ageing Day</label>
                        <div class="row">
                            <div class="col-md-6" [ngClass]="{'col-md-12':customFilters.ageing_filter.operator===''}">
                                <select class="form-control text-center" name="ageing_filter"
                                        [(ngModel)]="customFilters.ageing_filter.operator">
                                    <option value="">None</option>
                                    <option value="=">=</option>
                                    <option value=">">></option>
                                    <option value="<"><</option>
                                    <option value="between">Between</option>
                                </select>
                            </div>
                            <div class="col-md-3"
                                 [ngClass]="{'col-md-6':customFilters.ageing_filter.operator!='between','hidden':customFilters.ageing_filter.operator==''}">
                                <input name="ageing_from"
                                       id="ageing_from" type="text" class="form-control"
                                       [(ngModel)]="customFilters.ageing_filter.range_from">
                            </div>
                            <div class="col-md-3"
                                 *ngIf="customFilters.ageing_filter.operator=='between' && customFilters.ageing_filter.operator!==''">
                                <input name="ageing_to"
                                       id="ageing_to" type="text" class="form-control"
                                       [(ngModel)]="customFilters.ageing_filter.range_to">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 form-group">
                        <label>Inquiry Date
                            <input type="checkbox" name="inq_Date_filter"
                                   [(ngModel)]="customFilters.inquiry_date_filter">
                        </label>

                        <input [disabled]="!customFilters.inquiry_date_filter" name="inq_Date_filter_input"
                               id="inq_Date_filter_input" type="text" class="form-control" [options]="dateOptions"
                               daterangepicker (selected)="selectedIQDate($event)">
                    </div>

                    <div class="col-md-3 form-group">
                        <label>Checkin Date
                            <input type="checkbox" name="check_Date_filter"
                                   [(ngModel)]="customFilters.check_in_date_filter">
                        </label>

                        <input [disabled]="!customFilters.check_in_date_filter" name="check_Date_filter_input"
                               id="check_Date_filter_input" type="text" class="form-control" [options]="dateOptions"
                               daterangepicker (selected)="selectedCheckInDate($event)">
                    </div>

                    <div class="col-md-3 form-group">
                        <label>Checkout Date
                            <input type="checkbox" name="check_out_date_filter"
                                   [(ngModel)]="customFilters.check_out_date_filter">
                        </label>

                        <input [disabled]="!customFilters.check_out_date_filter" name="check_out_date_filter_input"
                               id="check_out_date_filter_input" type="text" class="form-control" [options]="dateOptions"
                               daterangepicker (selected)="selectedCheckOutDate($event)">
                    </div>

                    <!--[ngClass]="{'col-md-6':customFilters.pending_filter.operator!=''}">-->
                    <div class="col-md-3 form-group"
                         [ngClass]="{'col-md-6':customFilters.pending_filter.operator==='between'}">
                        <label>Pending Amount</label>
                        <div class="row">
                            <div class="col-md-4"
                                 [ngClass]="{'col-md-12':customFilters.pending_filter.operator==='',
                                             'col-md-6':customFilters.pending_filter.operator!='between'}">
                                <select class="form-control text-center" name="pending_filter"
                                        [(ngModel)]="customFilters.pending_filter.operator">
                                    <option value="">None</option>
                                    <option value="=">=</option>
                                    <option value=">">></option>
                                    <option value="<"><</option>
                                    <option value="between">Between</option>
                                </select>
                            </div>
                            <div class="col-md-4"
                                 [ngClass]="{'col-md-6':customFilters.pending_filter.operator!='between','hidden':customFilters.pending_filter.operator==''}">
                                <input name="pending_from"
                                       id="pending_from" type="text" class="form-control"
                                       [(ngModel)]="customFilters.pending_filter.range_from">
                            </div>
                            <div class="col-md-4"
                                 *ngIf="customFilters.pending_filter.operator=='between' && customFilters.pending_filter.operator!==''">
                                <input name="pending_to"
                                       id="pending_to" type="text" class="form-control"
                                       [(ngModel)]="customFilters.pending_filter.range_to">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3" *ngIf="isVisibleAgents">
                        <div class="set-apart">
                            <search-select placeholder="Travel Agent"
                                           [formControl]="travel_agent"
                                           [dataSource]="travelAgentDataSource"></search-select>
                        </div>

                    </div>

                    <div class="col-md-3" *ngIf="isVisibleCompanies">
                        <div class="set-apart">
                            <search-select placeholder="Company / OTA / Travel Agent"
                                           [formControl]="companyList"
                                           [dataSource]="companyDataSource"></search-select>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <button type="button" class="btn btn-sm btn-primary pull-right"
                                (click)="applyFilter()" [disabled]="customFilters.hotel_id == ''">
                            Apply
                        </button>

                        <button type="button" (click)="resetFilter()"
                                class="btn btn-sm btn-secondary pull-right m--margin-right-5">
                            Reset
                        </button>
                    </div>
                </div>
                <hr>
            </div>
            <div class="table-responsive m--margin-top-5">
                <table class="table table-bordered">
                    <thead class="thead-light">
                    <tr>
                        <th>
                            <a href="javascript:void(0)">
                                Sr.
                            </a>
                        </th>
                        <th>
                            <a href="javascript:void(0)" (click)="applySorting('inquiry_id')">
                                IQ-ID / Booking ID
                            </a>
                        </th>
                        <th>
                            <a href="javascript:void(0)" (click)="applySorting('hotel_code')">
                                Hotel
                            </a>
                        </th>
                        <th>
                            <a href="javascript:void(0)" (click)="applySorting('status')">
                                Status
                            </a>
                        </th>
                        <th style="min-width: 195px">
                            <a href="javascript:void(0)" (click)="applySorting('check_in_date')">
                                Arrival /
                            </a>
                            <a href="javascript:void(0)" (click)="applySorting('check_out_date')">Departure</a>
                        </th>
                        <!--<th>-->
                        <!--<a href="javascript:void(0)" (click)="applySorting('check_out_date')">-->
                        <!--Departure-->
                        <!--</a>-->
                        <!--</th>-->
                        <th>
                            <a href="javascript:void(0)" (click)="applySorting('inquiries.name')">
                                Guest
                            </a>
                        </th>
                        <th>
                            <a href="javascript:void(0)" (click)="applySorting('inquiries.rooms')">
                                Rooms / Pax (A/C)
                            </a>
                        </th>
                        <th>
                            <a href="javascript:void(0)" (click)="applySorting('source')">
                                Source
                            </a>
                        </th>
                        <th>
                            <a href="javascript:void(0)" (click)="applySorting('companies.name')">
                                Co. / OTA / TA
                            </a>
                        </th>
                        <th>
                            <a href="javascript:void(0)" (click)="applySorting('ageing_days')">
                                Ageing Days
                            </a>
                        </th>
                        <th>
                            <a href="javascript:void(0)" (click)="applySorting('offer_rate')">
                                Total Amount
                            </a>
                        </th>
                        <th>
                            <a href="javascript:void(0)" (click)="applySorting('paid_amount')">
                                Paid
                            </a>
                        </th>
                        <th>
                            <a href="javascript:void(0)" (click)="applySorting('outstanding_amount')">
                                Pending
                            </a>
                        </th>
                        <th>
                            <a href="javascript:void(0)" (click)="applySorting('assign_to')">
                                Sales Person
                            </a>
                        </th>
                    </tr>
                    </thead>
                    <tbody *ngIf="reportRecordLists.length>0">
                    <tr *ngFor="let rec of reportRecordLists; let i=index">
                        <td>
                            {{i + 1}}
                        </td>
                        <td>
                            <a href="javascript:void(0)" [routerLink]="['/booking/'+rec.id]">
                                {{rec.inquiry_id}} / {{rec.booking_id}}
                            </a>
                        </td>
                        <td class="text-center">
                            {{rec.hotel_code}}
                        </td>
                        <td class="text-center">
                            {{rec.status}}
                        </td>
                        <td class="text-center">
                            {{rec.check_in_date| date:'dd-MM-yyyy'}} /  {{rec.check_out_date| date:'dd-MM-yyyy'}}
                        </td>
                        <!--<td class="text-center">-->
                        <!--{{rec.check_out_date| date:'dd-MM-yyyy'}}-->
                        <!--</td>-->
                        <td>
                            {{rec.name}}
                            <span *ngIf="rec.phone">{{rec.phone}}</span>
                        </td>
                        <td class="text-center">
                            {{rec.rooms}} ({{rec.adults}}/{{rec.childs}})
                        </td>
                        <td>
                            {{rec.source}}
                        </td>
                        <td class="text-left">
                            {{rec.company}}
                        </td>
                        <td class="text-center">
                            {{rec.ageing_days}}
                        </td>
                        <td class="text-right">
                            {{rec.offer_rate| currency:'INR'}}
                        </td>
                        <td class="text-right">
                            {{rec.paid_amount| currency:'INR'}}
                        </td>
                        <td class="text-right">
                            {{rec.outstanding_amount| currency:'INR'}}
                        </td>
                        <td>
                            {{rec.assign_to}}
                        </td>
                    </tr>
                    </tbody>
                    <tbody *ngFor="let items of reportRecordGroup | keyvalue; let i=index">
                    <tr class="bg-light">
                        <td colspan="14">
                            <b>{{items.key}}</b>
                        </td>
                    </tr>
                    <tr *ngFor="let rec of items.value; let i=index">
                        <td>
                            {{i + 1}}
                        </td>
                        <td>
                            {{rec.inquiry_id}} / {{rec.booking_id}}
                        </td>
                        <td class="text-center">
                            {{rec.hotel_code}}
                        </td>
                        <td class="text-center">
                            {{rec.status}}
                        </td>
                        <td class="text-center">
                            {{rec.check_in_date| date:'dd-MM-yyyy'}} /  {{rec.check_out_date| date:'dd-MM-yyyy'}}
                        </td>
                        <!--<td class="text-center">-->
                        <!--{{rec.check_out_date| date:'dd-MM-yyyy'}}-->
                        <!--</td>-->
                        <td>
                            {{rec.name}}
                            <span *ngIf="rec.phone">{{rec.phone}}</span>
                        </td>
                        <td class="text-center">
                            {{rec.rooms}} ({{rec.adults}}/{{rec.childs}})
                        </td>
                        <td>
                            {{rec.source}}
                        </td>
                        <td class="text-left">
                            {{rec.company}}
                        </td>
                        <td class="text-center">
                            {{rec.ageing_days}}
                        </td>
                        <td class="text-right">
                            {{rec.offer_rate| currency:'INR'}}
                        </td>
                        <td class="text-right">
                            {{rec.paid_amount| currency:'INR'}}
                        </td>
                        <td class="text-right">
                            {{rec.outstanding_amount| currency:'INR'}}
                        </td>
                        <td>
                            {{rec.assign_to}}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="10">
                            <b>Total</b>
                        </td>
                        <td class="text-right">
                            <b>{{ getSum(items.value, 'offer_rate') | currency:'INR'}}</b>
                        </td>
                        <td class="text-right">
                            <b>{{ getSum(items.value, 'paid_amount') | currency:'INR'}}</b>
                        </td>
                        <td class="text-right">
                            <b>{{ getSum(items.value, 'outstanding_amount') | currency:'INR'}}</b>
                        </td>
                        <td></td>
                    </tr>
                    </tbody>
                    <tr *ngIf="reportRecordLists.length>0 || (reportRecordGroup | json) != '{}'">
                        <td colspan="10" class="text-left">
                            <b>Grand Total</b>
                        </td>
                        <td class="text-right">
                            <b>
                                {{reportSummary.totalAMount | currency:'INR'}}
                            </b>
                        </td>
                        <td class="text-right">
                            <b>
                                {{reportSummary.totalPaid | currency:'INR'}}
                            </b>
                        </td>
                        <td class="text-right">
                            <b>
                                {{reportSummary.totalPending | currency:'INR'}}
                            </b>
                        </td>
                        <td></td>
                    </tr>
                </table>
                <div *ngIf="reportCollectionCount">

                    <ngb-pagination class="pull-right m--margin-left-5"
                                    (pageChange)="pageChange($event)"
                                    [collectionSize]="reportCollectionCount" [(page)]="page" [rotate]="true"
                                    [pageSize]="itemsPerPage" [size]="'sm'" [maxSize]="5"
                                    [boundaryLinks]="'true'">
                    </ngb-pagination>

                    <select class="pull-right items-per-page" name="itemsPerPage"
                            (change)="pageChange(1)"
                            [(ngModel)]="itemsPerPage">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="500">500</option>
                        <option value="">All</option>
                    </select>

                </div>
            </div>
        </div>
    </div>
</div>


