<div class="m-portlet"
	 [ngClass]="{ 'm-portlet--body-progress' : isSaving, 'm-portlet--body-progress-overlay' : isSaving }">
	<div class="m-portlet__head">
		<div class="m-portlet__head-caption w-100">
			<div class="m-portlet__head-title w-100">
				<h4 class="modal-title w-100">
					Discount Approval
				</h4>

				<button type="button" class="close pull-right" aria-label="Close" (click)="closeDialog()">
					<span aria-hidden="true">&times;</span>
				</button>

			</div>
		</div>
	</div>
	<div class="col-md-12">
		<div class="col-md-12">
			<form #inquiryDiscountApprovalForm="ngForm">
				<div class="m-portlet__body m-portlet__body--no-padding scroll-x-hide m--padding-top-10">
					<div class="m-portlet__body-progress">
						<mat-spinner [diameter]="20"></mat-spinner>
					</div>
					<div class="row">
						<div class="col-md-6">
							<label>
								<b>Inquiry Id</b>
							</label>
							<p>
								{{bookingRecord.inquiry_id}}
							</p>
						</div>

						<div class="col-md-6">
							<label>
								<b>Hotel</b>
							</label>
							<p>
								{{bookingRecord.hotel_code}}
							</p>
						</div>

						<div class="col-md-6">
							<label>
								<b>Assign To</b>
							</label>
							<p>
								{{bookingRecord.assign_to}}
							</p>
						</div>

						<div class="col-md-6">
							<label>
								<b>Discount</b>
							</label>
							<p>
								{{bookingRecord.discount_ratio}}%
								({{bookingRecord.discount_amount | currency:'INR'}})
							</p>
						</div>

						<div class="col-md-12">
							<label>
								<b>Note</b>
							</label>
							<p>
								{{bookingRecord.note}}
							</p>
						</div>

						<div class="form-group col-md-12">
							<mat-form-field>
								<mat-label>Note</mat-label>
								<textarea matInput type="text" name="remark" [(ngModel)]="bookingEntry.approve_note"
										  matAutosizeMinRows="2"
										  matAutosizeMaxRows="4"
										  id="remark" autocomplete="off" required></textarea>
							</mat-form-field>
						</div>
					</div>
				</div>
				<div class="modal-footer no-side-padding">
					<button type="button" tabindex="-1" class="btn btn-sm btn-secondary"
							(click)="closeDialog()">
						Close
					</button>
					<button type="button" tabindex="-1"
							(click)="approveDiscount()"
							[disabled]="inquiryDiscountApprovalForm.invalid || isSaving"
							class="btn btn-sm btn-primary">
						Approve
					</button>
					<button type="button" tabindex="-1"
							(click)="rejectDiscount()"
							[disabled]="inquiryDiscountApprovalForm.invalid || isSaving"
							class="btn btn-sm btn-danger">
						Reject
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
