<div class="m-portlet  m-portlet--full-height"
     [ngClass]="{ 'm-portlet--body-progress' : isLoading,  'm-portlet--body-progress-overlay' :  isLoading }">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption ng-star-inserted">
            <h3 class="m-portlet__head-text">
                Inventory Report
            </h3>
        </div>

        <div class="m-portlet__head-tools">
            <button *ngIf="false" mat-mini-fab color="default" class="m--margin-left-5-mobile"
                    (click)="isCollapsedFilter = !isCollapsedFilter"
                    [attr.aria-expanded]="!isCollapsedFilter"
                    aria-controls="collapseExample"
                    matTooltip="Filter">
                <i class="fa fa-filter" aria-hidden="true"></i>
            </button>
            <a href="javascript:void(0)" class="btn btn-default btn-sm"
               (click)="exportReportData()" *ngIf="reportData.length>0">
                <i class="fa fa-file-pdf icon-big text-danger"></i>
            </a>
            <a href="javascript:void(0)" class="btn btn-default btn-sm m--margin-left-5"
               *ngIf="reportData.length>0" (click)="exportReportData('excel')">
                <i class="fa fa-file-excel icon-big text-success"></i>
            </a>
        </div>

    </div>
    <div class="m-portlet__body m-portlet__body--no-padding">
        <div class="col-md-12 m--margin-top-10">
            <div class="m-portlet__body-progress">
                <mat-spinner [diameter]="20"></mat-spinner>
            </div>

            <div id="collapseExample" [ngbCollapse]="isCollapsedFilter">
                <div class="row">
                    <div class="col-md-3" *ngIf="hotelList.length>0">
                        <!--<label>Hotel</label>-->
                        <angular2-multiselect [data]="hotelList" [(ngModel)]="selectedHotelLists" (ngModelChange)="onHotelSelect()"
                                              (onSelect)="onHotelSelect($event)"
                                              (onDeSelect)="onHotelSelect($event)"
                                              (onSelectAll)="onHotelSelect($event)"
                                              (onDeSelectAll)="onHotelSelect($event)"
                                              [settings]="hotelListSettings">
                        </angular2-multiselect>
                    </div>
                    <div class="col-md-2">
                        <mat-form-field>
                            <mat-label>Date</mat-label>
                            <input matInput type="text" name="daterangeInput" #checkInDateInput daterangepicker
                                   [options]="dateOptions"
                                   (selected)="selectedDate($event)"/>
                            <mat-icon matSuffix>date_range</mat-icon>
                        </mat-form-field>
                    </div>

                    <div class="col-md-4">
                        <button type="button" class="btn btn-sm btn-primary pull-left m--margin-right-5"
                                (click)="applyFilter()" [disabled]="customFilters.hotel_id == ''">
                            Apply
                        </button>
                    </div>
                </div>
                <hr>
            </div>

            <div class="table-responsive" *ngIf="reportData.length>0">
                <div class="col-md-12" *ngFor="let hotelData of reportData">
                    <div>
                        <h6><b>{{hotelData.name}}</b></h6>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th class="text-left">
                                <b>
                                    Date
                                </b>
                            </th>
                            <th class="text-center" *ngFor="let dt of dateRange">
                                <b>
                                    {{dt| date:'dd-MM'}}
                                </b>
                            </th>
                        </tr>
                        </thead>
                        <tbody *ngFor="let roomType of hotelData.room_types">
                        <tr>
                            <td>
                                {{roomType.name}}
                            </td>
                            <td class="text-center" *ngFor="let dt of dateRange">
                                {{roomType['inventory'][dt]}}
                            </td>
                        </tr>
                        </tbody>
                        <tr>
                            <td>
                                <b>
                                    Total
                                </b>
                            </td>
                            <td class="text-center" *ngFor="let dt of dateRange">
                                <b>
                                    {{hotelData['inventory'][dt]}}
                                </b>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
