<m-portlet [options]="{headLarge: false}" [loading$]="dataSource.loading$">
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title w-100">
            <div class="col-md-4">
                <h3 class="m-portlet__head-text">
                    Rate Plans
                </h3>
            </div>
            <div class="col-md-4">
                <mat-form-field>
                    <input class="pull-right w-100" matInput #searchInput
                           placeholder="Search">
                </mat-form-field>
            </div>
        </div>
    </ng-container>


    <ng-container mPortletHeadTools>
        <button mat-mini-fab color="default" class="m--margin-left-5-mobile"
                (click)="isCollapsedFilter = !isCollapsedFilter"
                [attr.aria-expanded]="!isCollapsedFilter"
                aria-controls="collapseExample"
                matTooltip="Filter">
            <i class="fa fa-filter" aria-hidden="true"></i>
        </button>

        <button mat-mini-fab color="primary" (click)="openPlanDetail()" matTooltip="Create new">
            <i class="fa fa-plus fa-2x"></i>
        </button>

        <!-- <button mat-mini-fab color="warn"
                 matTooltip="Delete selected DSR">
             <i class="fa fa-trash fa-2x"></i>
         </button>-->

    </ng-container>

    <ng-container mPortletBody>
        <div id="collapseExample" [ngbCollapse]="isCollapsedFilter">
            <div class="row">

                <div class="col-md-3">
                    <mat-form-field>
                        <mat-select placeholder="Hotel"
                                    (selectionChange)="getHotelRoomTypes()"
                                    [(ngModel)]="planFilters.hotel_id" name="hotel" multiple>
                            <mat-option value="">All</mat-option>
                            <mat-option *ngFor="let item of hotels" [value]="item.id">{{item.code}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-md-3">
                    <mat-form-field>
                        <mat-select placeholder="Room Type" [(ngModel)]="planFilters.room_type_id"
                                    name="inq_type" multiple>
                            <mat-option *ngFor="let type of hotelRoomTypes" [value]="type.id">{{type.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <button type="button" class="btn btn-sm btn-primary pull-left m--margin-right-5"
                            (click)="applyFilter()">
                        Apply
                    </button>

                    <button type="button" (click)="resetFilter()"
                            class="btn btn-sm btn-secondary pull-left">
                        Reset
                    </button>
                </div>
            </div>
            <hr>
        </div>
        <div class="mat-table__wrapper">

            <mat-table #table [dataSource]="dataSource" matSort class="lmat-elevation-z8">

                <ng-container matColumnDef="select">
                    <mat-header-cell *matHeaderCellDef class="mat-column-checkbox">
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                                      [checked]="selection.hasValue() && isAllSelected()"
                                      [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" class="mat-column-checkbox">
                        <mat-checkbox (click)="$event.stopPropagation()"
                                      (change)="$event ? selection.toggle(row) : null"
                                      [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                    </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element.name}}
                        <a href="javascript:;" (click)="openPlanDetail({id:element.linked_plan_id})" *ngIf="element.linked_plan_id">
                            <i class="fas fa-link m--margin-left-5"></i>
                        </a>
                    </mat-cell>
                </ng-container>

                <!-- Mobile Column -->
                <ng-container matColumnDef="hotel_name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Hotel</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.hotel_name}}</mat-cell>
                </ng-container>

                <!-- Room type Column -->
                <ng-container matColumnDef="room_type_name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Room Type</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.room_type_name}}</mat-cell>
                </ng-container>

                <!-- Min Nights Column -->
                <ng-container matColumnDef="min_nights">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-cell-center">Min Nights
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-cell-center"> {{element.min_nights}}</mat-cell>
                </ng-container>

                <!-- Rate Column -->
                <ng-container matColumnDef="rack_rate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-cell-right">Rate</mat-header-cell>
                    <mat-cell *matCellDef="let element"
                              class="mat-cell-right"> {{element.rack_rate| currency:'INR'}}</mat-cell>
                </ng-container>

                <!-- Rate type Column -->
                <ng-container matColumnDef="rate_type_name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Rate Type</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element.rate_type_name}}
                    </mat-cell>
                </ng-container>

                <!-- Department Column -->
                <ng-container matColumnDef="department">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-cell-center">Department
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-cell-center">{{element.department}}</mat-cell>
                </ng-container>

                <!-- Location Column -->
                <ng-container matColumnDef="location">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-cell-center">Location
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-cell-center">{{element.location}}</mat-cell>
                </ng-container>

                <!-- Action Column -->
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef class="mat-cell-right">Actions</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-cell-right">
                        <button mat-icon-button color="primary" matTooltip="Edit"
                                (click)="openPlanDetail(element)">
                            <mat-icon>create</mat-icon>
                        </button>&nbsp;

                        <button mat-icon-button color="primary" matTooltip="Copy"
                                (click)="copyRatePlan(element)" [disabled]="isSaving">
                            <i class="fa fa-copy"></i>
                        </button>&nbsp;

                        <button mat-icon-button color="warn" matTooltip="Delete" type="button"
                                (click)="deleteRecord(element)">
                            <mat-icon>delete</mat-icon>
                        </button>&nbsp;
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <div class="mat-table__message" *ngIf="!dataSource.hasItems">No records found</div>
        </div>
        <div class="mat-table__bottom">
            <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
            <mat-paginator [hidePageSize]="true" [length]="dataSource.paginatorTotal$ | async"
                           [showFirstLastButtons]="true"
                           [pageSizeOptions]="[itemsPerPage]"></mat-paginator>
        </div>
    </ng-container>
</m-portlet>
