<div class="m-portlet"
     [ngClass]="{ 'm-portlet--body-progress' : isSaving, 'm-portlet--body-progress-overlay' : isSaving }">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption w-100">
            <div class="m-portlet__head-title w-100">
                <h4 class="modal-title w-100">
                    Discounts
                </h4>

                <button mat-mini-fab color="primary" class="m--margin-left-5-mobile btn-sm"
                        (click)="openDetailForm(discountDetailModel)"
                        matTooltip="Create New">
                    <i class="fa fa-plus fa-2x"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <form #bedTypesForm="ngForm">
            <div class="m-portlet__body m-portlet__body--no-padding">
                <div class="m-portlet__body-progress">
                    <mat-spinner [diameter]="20"></mat-spinner>
                </div>

                <div class="mat-table__wrapper">

                    <mat-table #table [dataSource]="dataSource" matSort class="lmat-elevation-z8">

                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.name}}</mat-cell>
                        </ng-container>


                        <ng-container matColumnDef="from">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>From %</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.from}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="to">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>To %</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.to}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="users">
                            <mat-header-cell *matHeaderCellDef>Users</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.userIds?.length || '0'}} &nbsp; <i
                                    class="fas fa-users"></i></mat-cell>
                        </ng-container>

                        <!-- Status Column-->
                        <ng-container matColumnDef="status">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                            <mat-cell *matCellDef="let element">

								<span class="m-badge  m-badge--wide"
                                      [ngClass]="{'m-badge--success':element.is_enabled,
													'm-badge--danger':!element.is_enabled}">
									{{element.is_enabled ? 'Enable' : 'Disable'}} <!-- {{element.is_enabled}} -->
								</span>

                            </mat-cell>
                        </ng-container>

                        <!-- Action Column -->
                        <ng-container matColumnDef="actions">
                            <mat-header-cell *matHeaderCellDef class="mat-cell-right">Actions</mat-header-cell>
                            <mat-cell *matCellDef="let element" class="mat-cell-right">
                                <button mat-icon-button color="primary" matTooltip="Edit"
                                        (click)="openDetailForm(discountDetailModel,element)">
                                    <mat-icon>create</mat-icon>
                                </button>&nbsp;
                                <button mat-icon-button color="warn" matTooltip="Delete" type="button"
                                        (click)="deleteRecord(element)">
                                    <mat-icon>delete</mat-icon>
                                </button>&nbsp;
                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                    <div class="mat-table__message" *ngIf="!dataSource.hasItems">
                        No records found
                    </div>
                </div>
                <div class="mat-table__bottom">
                    <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
                    <mat-paginator [hidePageSize]="true" [length]="dataSource.paginatorTotal$ | async"
                                   [showFirstLastButtons]="true"
                                   [pageSizeOptions]="[itemsPerPage]"></mat-paginator>
                </div>
            </div>
            <div class="modal-footer no-side-padding">
                <button type="button" class="btn btn-secondary m-btn--sm" (click)="closeDialog()">
                    Close
                </button>
            </div>
        </form>
    </div>
</div>


<ng-template #discountDetailModel let-c="close" let-d="dismiss">
    <div class="modal-header m--padding-bottom-5">
        <h5 class="modal-title">
            Discount Detail
        </h5>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form #discountForm="ngForm">
        <div class="modal-body">
            <div class="row">
                <div class="form-group col-md-6">
                    <mat-form-field>
                        <mat-label>Name</mat-label>
                        <input matInput name="name" id="name"
                               autocomplete="off"
                               [(ngModel)]="currentRecord.name" required>
                    </mat-form-field>
                </div>

                <div class="form-group col-md-3">
                    <mat-form-field>
                        <mat-label>From %</mat-label>
                        <input matInput type="number" name="from" id="from" autocomplete="off"
                               [(ngModel)]="currentRecord.from" required>
                        <mat-icon matSuffix>
                            <i class="fa fa-percent" aria-hidden="true"></i>
                        </mat-icon>
                    </mat-form-field>
                </div>

                <div class="form-group col-md-3">
                    <mat-form-field>
                        <mat-label>To %</mat-label>
                        <input matInput type="number" name="to" id="to" autocomplete="off"
                               [(ngModel)]="currentRecord.to" required>
                        <mat-icon matSuffix>
                            <i class="fa fa-percent" aria-hidden="true"></i>
                        </mat-icon>
                    </mat-form-field>
                </div>

                <div class="col-md-6 form-group">
                    <label>Users</label>
                    <angular2-multiselect [data]="userList" [(ngModel)]="selectedUserLists" name="users"
                                          (ngModelChange)="onUserSelect()"
                                          (onSelect)="onUserSelect($event)"
                                          (onDeSelect)="onUserSelect($event)"
                                          (onSelectAll)="onUserSelect($event)"
                                          (onDeSelectAll)="onUserSelect($event)"
                                          [settings]="userListSettings">
                    </angular2-multiselect>
                </div>

                <div class="col-md-6 form-group">
                    <label>Hotel</label>
                    <angular2-multiselect [data]="hotelList" [(ngModel)]="selectedHotelLists" name="hotels"
                                          (ngModelChange)="onHotelSelect()"
                                          (onSelect)="onHotelSelect($event)"
                                          (onDeSelect)="onHotelSelect($event)"
                                          (onSelectAll)="onHotelSelect($event)"
                                          (onDeSelectAll)="onHotelSelect($event)"
                                          [settings]="hotelListSettings">
                    </angular2-multiselect>
                </div>

                <div class="col-md-6 form-group">
                    <label>Booking Type</label>
                    <angular2-multiselect [data]="bookingTypesList" [(ngModel)]="selectedBookingTypeLists"
                                          name="bookingTypes"
                                          (onSelect)="onBookingTypesSelect($event)"
                                          (onDeSelect)="onBookingTypesSelect($event)"
                                          (onSelectAll)="onBookingTypesSelect($event)"
                                          (onDeSelectAll)="onBookingTypesSelect($event)"
                                          [settings]="bookingTypesListsSettings">
                    </angular2-multiselect>
                </div>

                <div class="col-md-6 form-group">
                    <label>Status</label>
                    <angular2-multiselect [data]="bookingStatusList" [(ngModel)]="selectedBookingStatus" name="statuses"
                                          (onSelect)="onBookingStatusSelect($event)"
                                          (onDeSelect)="onBookingStatusSelect($event)"
                                          (onSelectAll)="onBookingStatusSelect($event)"
                                          (onDeSelectAll)="onBookingStatusSelect($event)"
                                          [settings]="bookingStatusSettings">
                    </angular2-multiselect>
                </div>

                <!--<div class="col-md-6 form-group">
                    <label>Sub Status</label>
                    <angular2-multiselect [data]="inquirySubStatusList" [(ngModel)]="selectedSubStatusesLists" name="subStatuses"
                                          (onSelect)="onSubStatusSelect($event)"
                                          (onDeSelect)="onSubStatusSelect($event)"
                                          (onSelectAll)="onSubStatusSelect($event)"
                                          (onDeSelectAll)="onSubStatusSelect($event)"
                                          [settings]="subStatusListSettings">
                    </angular2-multiselect>
                </div>-->

                <div class="col-md-6 form-group">
                    <label>Source</label>
                    <angular2-multiselect [data]="sourceList" [(ngModel)]="selectedSourcesLists" name="source"
                                          (onSelect)="onSourceSelectionEvent($event)"
                                          (onDeSelect)="onSourceSelectionEvent($event)"
                                          (onSelectAll)="onSourceSelectionEvent($event)"
                                          (onDeSelectAll)="onSourceSelectionEvent($event)"
                                          [settings]="sourceSettings">
                    </angular2-multiselect>
                </div>

                <div class="form-group col-md-3 m--margin-top-5">
                    <section>
                        <mat-label>Is Enabled &nbsp;</mat-label>
                        <br/>
                        <mat-checkbox name="is_enabled"
                                      [(ngModel)]="currentRecord.is_enabled">
                        </mat-checkbox>
                    </section>
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-md" #closeBtn (click)="c('Close click')">
                Close
            </button>
            <button type="button"
                    [disabled]="discountForm.invalid || isSaving"
                    class="btn btn-primary btn-md" (click)="save()">
                Save
            </button>
        </div>
    </form>
</ng-template>
