<div class="m-portlet"
     [ngClass]="{ 'm-portlet--body-progress' : isSaving, 'm-portlet--body-progress-overlay' : isSaving }">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption w-100">
            <div class="m-portlet__head-title w-100">
                <h4 class="modal-title w-100">
                    Hotel Rooms
                </h4>


                <button mat-mini-fab color="default" class="m--margin-right-5"
                        (click)="isCollapsedFilter = !isCollapsedFilter"
                        [attr.aria-expanded]="!isCollapsedFilter"
                        aria-controls="collapseExample"
                        matTooltip="Filter">
                    <i class="fa fa-filter" aria-hidden="true"></i>
                </button>

                <button mat-mini-fab color="primary" class="m--margin-left-5-mobile btn-sm"
                        (click)="openDetailForm()"
                        matTooltip="Create New">
                    <i class="fa fa-plus fa-2x"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <form #roomTypesForm="ngForm">
            <div class="m-portlet__body m-portlet__body--no-padding m--margin-top-10">

                <div id="collapseExample" [ngbCollapse]="isCollapsedFilter">
                    <div class="row">
                        <div class="col-md-3">
                            <mat-form-field>
                                <input class="pull-right w-100" matInput #searchInput
                                       placeholder="Search">
                            </mat-form-field>
                        </div>

                        <div class="form-group col-md-3">
                            <mat-form-field>
                                <mat-select placeholder="Hotel" [(ngModel)]="hotelRoomFilters.hotel_id"
                                            name="hotel_filter" multiple>
                                    <mat-option *ngFor="let item of roomSettings.hotels" [value]="item.id">
                                        {{item.code}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="form-group col-md-3">
                            <mat-form-field>
                                <mat-select placeholder="Room Type" [(ngModel)]="hotelRoomFilters.room_type_id"
                                            name="filter_room_type_id" multiple>
                                    <mat-option *ngFor="let item of roomSettings.roomTypes" [value]="item.id">
                                        {{item.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="form-group col-md-3">
                            <mat-form-field>
                                <mat-select placeholder="Bed Type" [(ngModel)]="hotelRoomFilters.bed_type_id"
                                            name="filter_bed_type_id" multiple>
                                    <mat-option *ngFor="let item of roomSettings.bedTypes" [value]="item.id">
                                        {{item.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-md-12">
                            <button type="button" class="btn btn-sm btn-primary pull-right"
                                    (click)="applyFilter()">
                                Apply
                            </button>

                            <button type="button" (click)="resetFilter()"
                                    class="btn btn-sm btn-secondary pull-right m--margin-right-5">
                                Reset
                            </button>
                        </div>
                    </div>
                </div>

                <div class="m-portlet__body-progress">
                    <mat-spinner [diameter]="20"></mat-spinner>
                </div>

                <div class="mat-table__wrapper">

                    <mat-table #table [dataSource]="dataSource" matSort class="lmat-elevation-z8">

                        <ng-container matColumnDef="select">
                            <mat-header-cell *matHeaderCellDef class="mat-column-checkbox">
                                <mat-checkbox (change)="$event ? masterToggle() : null"
                                              [checked]="selection.hasValue() && isAllSelected()"
                                              [indeterminate]="selection.hasValue() && !isAllSelected()">
                                </mat-checkbox>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" class="mat-column-checkbox">
                                <mat-checkbox (click)="$event.stopPropagation()"
                                              (change)="$event ? selection.toggle(row) : null"
                                              [checked]="selection.isSelected(row)">
                                </mat-checkbox>
                            </mat-cell>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.name}}</mat-cell>
                        </ng-container>


                        <ng-container matColumnDef="code">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Code</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.code}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="hotel_code">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Hotel</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.hotel_code}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="room_type_name">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Room Type</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.room_type_name}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="bed_type_name">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Bed Type</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.bed_type_name}}</mat-cell>
                        </ng-container>

                        <!-- Status Column -->
                        <ng-container matColumnDef="is_enabled">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <mat-slide-toggle name="is_enabled" [color]="'primary'" [(ngModel)]="element.is_enabled"
                                                  (change)="onStatusChange(element, $event)">
                                    <mat-spinner [diameter]="20" *ngIf="element.isSaving"
                                                 style="margin-left: 15px"></mat-spinner>
                                </mat-slide-toggle>
                            </mat-cell>
                        </ng-container>

                        <!-- Action Column -->
                        <ng-container matColumnDef="actions">
                            <mat-header-cell *matHeaderCellDef class="mat-cell-right">Actions</mat-header-cell>
                            <mat-cell *matCellDef="let element" class="mat-cell-right">
                                <button mat-icon-button color="primary" matTooltip="Edit"
                                        (click)="openDetailForm(element)">
                                    <mat-icon>create</mat-icon>
                                </button>&nbsp;

                                <button mat-icon-button color="primary" matTooltip="Copy"
                                        (click)="copyRoom(element)">
                                    <i class="fa fa-copy"></i>
                                </button>&nbsp;

                                <button mat-icon-button color="warn" matTooltip="Delete" type="button"
                                        (click)="deleteRecord(element)">
                                    <mat-icon>delete</mat-icon>
                                </button>&nbsp;
                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                    <div class="mat-table__message" *ngIf="!dataSource.hasItems">No records found</div>
                </div>
                <div class="mat-table__bottom">
                    <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
                    <mat-paginator [hidePageSize]="true" [length]="dataSource.paginatorTotal$ | async"
                                   [showFirstLastButtons]="true"
                                   [pageSizeOptions]="[itemsPerPage]"></mat-paginator>
                </div>
            </div>
        </form>
    </div>
</div>
