<m-portlet>
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text m--margin-right-20">
                Pending Approval <span *ngIf="pendingApproval.length>0">({{pendingApproval.length}})</span>
            </h3>
        </div>
    </ng-container>

    <!-- use ng-container[mPortletBody] for the body content -->
    <ng-container mPortletBody>
        <div class="m-widget2" style="max-height: 350px;overflow-y: auto;min-height: 260px;">
            <mat-spinner [diameter]="20" *ngIf="isLoading"></mat-spinner>
            <div class="col-md-12" *ngIf="pendingApproval.length<1 && !isLoading">
                <label>No pending approvals for you</label>
            </div>
            <div class="m-widget2__item" *ngFor="let booking of pendingApproval"
                 [ngClass]="{'m-widget2__item--primary': loggedInUser.id === booking.discount_approved_by,'m-widget2__item--info':loggedInUser.id === booking.assign_to_id }">
                <div class="m-widget2__checkbox">
                    <label class="m-checkbox m-checkbox--solid m-checkbox--single m-checkbox--brand" *ngIf="loggedInUser.id === booking.discount_approved_by">
                        <input type="checkbox" name="approve_{{booking.id}}}" [(ngModel)]="booking.selected"
                               (click)="openPendingApprovalForm(booking)">
                        <span></span>
                    </label>
                </div>
                <div class="m-widget2__desc">
                    <div class="approve-direction pull-left">
                        <i class="fas fa-lg fa-arrow-up text-info" *ngIf="loggedInUser.id === booking.assign_to_id"></i>
                        <i class="fas fa-lg fa-arrow-down text-primary" *ngIf="loggedInUser.id === booking.discount_approved_by"></i>
                    </div>
                    <div>
                        <span class="m-widget2__text">
                            <a [routerLink]="['/booking/' + booking.id]">
                                <span *ngIf="loggedInUser.id === booking.assign_to_id">
                                    Your Request {{booking.inquiry_id}} for discount {{booking.discount_amount | currency:'INR'}} & {{booking.discount_ratio}}% has been sent to {{booking.discount_approved_by_name}} for approval.
                                </span>
                                <span *ngIf="loggedInUser.id === booking.discount_approved_by">
                                    {{booking.inquiry_id}} - Kindly review the discount request from {{booking.assign_to}}, Discount {{booking.discount_amount | currency:'INR'}} & {{booking.discount_ratio}}%
                                </span>
                            </a>
                        </span>
                        <br>
                        <span class="m-widget2__user-name">
                            <a href="javascript:;" class="m-widget2__link m--margin-right-10">
                                Unit: {{booking.hotel_code}}
                            </a>
                            <a href="javascript:;" class="m-widget2__link">
                                By {{booking.assign_to}}
                            </a>
                            <span class="pull-right">
                                <small>Check In: {{booking.check_in_date| date:'dd-MM-yyyy'}}</small>
                            </span>
                        </span>
                    </div>
                </div>
                <div class="m-widget2__actions"></div>
            </div>

        </div>
    </ng-container>
</m-portlet>
