<div class="m-portlet"
	 [ngClass]="{ 'm-portlet--body-progress' : isSaving, 'm-portlet--body-progress-overlay' : isSaving }">
	<div class="m-portlet__head">
		<div class="m-portlet__head-caption w-100">
			<div class="m-portlet__head-title w-100">
				<h4 class="modal-title w-100">
					Expenses
				</h4>

				<button mat-mini-fab color="primary" class="m--margin-left-5-mobile btn-sm"
						(click)="openEntryForm(expenseDetailModel)"
						matTooltip="Create New">
					<i class="fa fa-plus fa-2x"></i>
				</button>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<form #expensesForm="ngForm">
			<div class="m-portlet__body m-portlet__body--no-padding">
				<div class="m-portlet__body-progress basic-setting">
					<mat-spinner [diameter]="20"></mat-spinner>
				</div>

				<div class="mat-table__wrapper basic-setting">

					<mat-table #table [dataSource]="dataSource" matSort class="lmat-elevation-z8">

						<!-- Name Column -->
						<ng-container matColumnDef="name">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
							<mat-cell *matCellDef="let element"> {{element.name}}</mat-cell>
						</ng-container>

						<!-- Action Column -->
						<ng-container matColumnDef="actions">
							<mat-header-cell *matHeaderCellDef class="mat-cell-right">Actions</mat-header-cell>
							<mat-cell *matCellDef="let element" class="mat-cell-right">
								<button mat-icon-button color="primary" matTooltip="Edit"
										(click)="openEntryForm(expenseDetailModel,element)"
										[disabled]="element.is_system">
									<mat-icon>create</mat-icon>
								</button>&nbsp;
								<button mat-icon-button color="warn" matTooltip="Delete" type="button"
										(click)="deleteRecord(element)"
										[disabled]="element.is_system">
									<mat-icon>delete</mat-icon>
								</button>&nbsp;
							</mat-cell>
						</ng-container>

						<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
						<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
					</mat-table>
					<div class="mat-table__message" *ngIf="!dataSource.hasItems">
						No records found
					</div>
				</div>
				<div class="mat-table__bottom">
					<mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
					<mat-paginator [hidePageSize]="true" [length]="dataSource.paginatorTotal$ | async"
								   [showFirstLastButtons]="true"
								   [pageSizeOptions]="[itemsPerPage]"></mat-paginator>
				</div>
			</div>
			<div class="modal-footer no-side-padding">
				<button type="button" class="btn btn-secondary m-btn--sm" (click)="closeDialog()">
					Close
				</button>
			</div>
		</form>
	</div>
</div>


<ng-template #expenseDetailModel let-c="close" let-d="dismiss">
	<div class="modal-header m--padding-bottom-5">
		<h5 class="modal-title">
			Expense Detail
		</h5>
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<form #expensesForm="ngForm">
		<div class="modal-body">
			<div class="row">
				<div class="form-group col-md-12">
					<mat-form-field>
						<mat-label>Name</mat-label>
						<input matInput name="name" id="name"
							   autocomplete="off"
							   [(ngModel)]="currentRecord.name" required>
					</mat-form-field>
				</div>

				<div class="form-group col-md-12">
					<mat-form-field>
						<mat-label>Description</mat-label>
						<textarea matInput type="text" name="description"
								  [(ngModel)]="currentRecord.description"
								  matAutosizeMinRows="1"
								  rows="2"
								  id="description" autocomplete="off"></textarea>
					</mat-form-field>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-secondary btn-md" #closeBtn (click)="c('Close click')">
				Close
			</button>
			<button type="button"
					[disabled]="expensesForm.invalid || isSaving"
					class="btn btn-primary btn-sm" (click)="save()">
				Save
			</button>
		</div>
	</form>
</ng-template>
