/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.html, body {
  font-family: verdana !important;
}

.mat-progress-spinner {
  margin: 0 auto;
}

.basic-setting.mat-table__wrapper .mat-table {
	min-width: 100% !important;
}

.basic-setting .mat-header-row, .mat-row {
	min-width: 100% !important;
}

.mat-table__wrapper {
  width: 100%;
  overflow-x: auto;

  mat-cell, mat-header-cell {
    min-height: 100%;
  }

}

.mat-table__wrapper .mat-table {
  //min-width: 1000px;
  width: 100%;
}

.mat-table__wrapper--dashboard .mat-table {
  min-width: 600px !important;
  max-height: 700px !important;
  overflow: auto !important;
}

.mat-table__wrapper .mat-table .email-cell {
  word-wrap: normal;
  width: 180px;
  flex: auto;
}

.mat-dialog-min-height {
  min-height: 60vh;
}

;

.m-mat-dialog-container__wrapper .mat-dialog-container {
  padding: 0;
  overflow-x: hidden;

  .m-portlet {
    margin-bottom: 0;
  }

  .alert {
    border-radius: 0 !important;
    width: 1032px;
  }
}

.mat-table__wrapper--sub .mat-table {
  min-width: 400px;

  .mat-cell:last-child {
    flex: 0 0 100px;
  }

  .mat-header-cell:last-child {
    flex: 0 0 100px;
  }
}

.ml-auto {
  margin-left: auto;
}

.example-full-width {
  width: 100%;
}

mat-radio-button {
  padding-right: 16px;
}

.m-form--alert {
  margin-top: 30px;
}

.mat-column-checkbox {
  flex: 0 0 68px;
}

.mat-column-id {
  flex: 0 0 68px;
}

.mat-column-main {
  flex: 0 0 568px;
}

.mat-column-actions {
  flex: 0 0 160px;
}

.mat-table__bottom {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.mat-column-vinCode {
  flex: 0 0 170px;
}

.m-portlet-mx-0 {
  margin: -1.1rem -2.2rem 0;
  overflow-x: hidden;
}

.mat-table__wrapper .mat-table .mat-row-editing.mat-row-inactive {
  height: 0;
  min-height: 0;
  padding: 0 !important;
  border-bottom: 0 !important;
}

.mat-form-field {
  width: 100% !important;
}

.border-bot {
  border-bottom: 1px solid;
}

.data-table-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
}

.mat-sort-header-container {
  font-weight: bold;
  font-size: 14px !important;
}

.mat-header-cell {
  font-weight: bold !important;
  font-size: 14px !important;
}

.mat-header-row, .mat-row {
  min-width: 1000px;
}

.mat-cell-right {
  display: flex;
  justify-content: flex-end;
}

.mat-cell-left {
  display: flex;
  justify-content: flex-start;
}

.mat-cell-center {
  display: flex;
  justify-content: center;
}

.m-portlet__head-caption {
  width: 100% !important;
}

ul.timeline {
  list-style-type: none;
  position: relative;
}

ul.timeline:before {
  content: ' ';
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}

ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}

ul.timeline > li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #716aca;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

.time-line-date {
  background-color: gray;
  color: white;
  padding: 1px;
  padding-left: 5px;
  padding-right: 5px;
}

.timepicker__header {
  background-color: #716aca !important;
}

.clock-face__number > span.active {
  background-color: #716aca !important;
}

.clock-face__clock-hand {
  background-color: #716aca !important;
}

.clock-face__clock-hand:after {
  background-color: #716aca !important;
}

.clock-face__clock-hand:before {
  background-color: #716aca !important;
  border: 4px solid #716aca !important;
}

.timepicker-button {
  color: #716aca !important;
}

.scroll-x-hide {
  overflow-x: hidden !important;
}

.scroll-y-hide {
  overflow-y: hidden !important;
}

.no-side-padding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.no-top-bottom-padding {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.ngx-mat-drp-date-input {
  color: #000 !important;
}

.no-padding {
  padding: 0px !important;
}

.top-no-pad {
  padding-top: 0px !important;
}

.bot-no-pad {
  padding-bottom: 0px !important;
}

.top-no-mar {
  margin-top: 0px !important;
}

.bot-no-mar {
  margin-bottom: 0px !important;
}

.top-no-border {
  border-top: 0px !important;
}

.bot-no-border {
  border-bottom: 0px !important;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;

  .mat-table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    display: table;
    border-collapse: collapse;
    margin: 0px;
  }

  .mat-row,
  .mat-header-row {
    display: table-row;
  }

  .mat-cell,
  .mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    padding: 0px 5px;
    line-break: unset;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
  }
}

.hand-cursor {
  cursor: pointer !important;
}

.global-master-body {
  min-height: 250px;
  max-height: 500px;
}

.modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem !important;
  border-top: 1px solid #e9ecef;
}

.mat-icon-button {
  width: 20px;
  height: 20px;
  line-height: 20px;
}

.model-footer-left {
  justify-content: flex-start !important;
}

.mat-dialog-container .m-portlet .m-portlet__body {
  max-height: 70vh !important;
}

.filter-option .mat-pseudo-checkbox {
  display: none !important;
}

.filter-option .mat-option-pseudo-checkbox {
  display: none !important;
}

.mat-paginator-page-size-label {
  display: none !important;
}

.text-gray {
  color: #c1bfcf !important;
}

.has-error {
  border: 1px solid #f4516c;
}

.permission-switch .mat-button-toggle-label-content {
  line-height: 20px !important;
  padding: 0 5px !important;
}

.icon-big {
  font-size: 18px !important;
}
//
//.custom-dropdown-list .list-area {
//  position: fixed !important;
//  width: auto !important;
//}

.custom-dropdown-list .selected-list .c-btn {
  padding: 9px !important;
}

.selected-list .c-list .c-token {
  background-color: #5867dd !important;
}

.pure-checkbox input[type="checkbox"]:checked + label:before {
  background-color: #5867dd !important;
}

.pure-checkbox input[type="checkbox"] + label:before {
  color: #5867dd !important;
  border: 2px solid #5867dd !important;
}

.pure-checkbox input[type="checkbox"] + label:before{
  color: #5867dd !important;
  border: 2px solid #5867dd !important;
}


@media (max-width: 768px) {
  .m-login__body {
    width: 100%;
  }

  .m-login.m-login--6 .m-login__wrapper .m-login__body .m-login__signin{
    width: 100% !important;
  }

  .login-component{
    width: 100% !important;
  }
}

.form-group label{
  margin-bottom: 0px;
}
