<div class="m-portlet"
     [ngClass]="{ 'm-portlet--body-progress' : isSaving, 'm-portlet--body-progress-overlay' : isSaving }">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption w-100">
            <div class="m-portlet__head-title w-100">
                <h4 class="modal-title w-100">
                    Industries
                </h4>

                <button mat-mini-fab color="primary" class="m--margin-left-5-mobile btn-sm"
                        (click)="openEntryForm(industriesDetailModel)"
                        matTooltip="Create New">
                    <i class="fa fa-plus fa-2x"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <form #industriesForm="ngForm">
            <div class="m-portlet__body m-portlet__body--no-padding">
                <div class="m-portlet__body-progress">
                    <mat-spinner [diameter]="20"></mat-spinner>
                </div>

                <div class="mat-table__wrapper basic-setting">

                    <mat-table #table [dataSource]="dataSource" matSort class="lmat-elevation-z8">

                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.name}}</mat-cell>
                        </ng-container>

                        <!-- Status Column-->
                        <ng-container matColumnDef="status">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                            <mat-cell *matCellDef="let element">

								<span class="m-badge  m-badge--wide"
                                      [ngClass]="{'m-badge--success':element.status,
													'm-badge--danger':!element.status}">
									{{element.status ? 'Enable' : 'Disable'}} <!-- {{element.status}} -->
								</span>

                            </mat-cell>
                        </ng-container>

                        <!-- Action Column -->
                        <ng-container matColumnDef="actions">
                            <mat-header-cell *matHeaderCellDef class="mat-cell-right">Actions</mat-header-cell>
                            <mat-cell *matCellDef="let element" class="mat-cell-right">
                                <button mat-icon-button color="primary" matTooltip="Edit"
                                        (click)="openEntryForm(industriesDetailModel,element)">
                                    <mat-icon>create</mat-icon>
                                </button>&nbsp;
                                <button mat-icon-button color="warn" matTooltip="Delete" type="button"
                                        (click)="deleteRecord(element)">
                                    <mat-icon>delete</mat-icon>
                                </button>&nbsp;
                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                    <div class="mat-table__message" *ngIf="!dataSource.hasItems">
                        No records found
                    </div>
                </div>
                <div class="mat-table__bottom">
                    <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
                    <mat-paginator [hidePageSize]="true" [length]="dataSource.paginatorTotal$ | async"
                                   [showFirstLastButtons]="true"
                                   [pageSizeOptions]="[itemsPerPage]"></mat-paginator>
                </div>
            </div>
            <div class="modal-footer no-side-padding">
                <button type="button" class="btn btn-secondary m-btn--sm" (click)="closeDialog()">
                    Close
                </button>
            </div>
        </form>
    </div>
</div>


<ng-template #industriesDetailModel let-c="close" let-d="dismiss">
    <div class="modal-header m--padding-bottom-5">
        <h5 class="modal-title">
            Industries Detail
        </h5>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form #industriesForm="ngForm">
        <div class="modal-body">
            <div class="row">
                <div class="form-group col-md-12">
                    <mat-form-field>
                        <mat-label>Name</mat-label>
                        <input matInput name="name" id="name"
                               autocomplete="off"
                               [(ngModel)]="currentRecord.name" required>
                    </mat-form-field>
                </div>
                <div class="form-group col-md-12">
                    <section>
                        <mat-label>Status &nbsp;</mat-label>
                        <mat-checkbox class="example-margin" name="status"
                                      [(ngModel)]="currentRecord.status">
                        </mat-checkbox>
                    </section>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-md" #closeBtn (click)="c('Close click')">
                Close
            </button>
            <button type="button"
                    [disabled]="industriesForm.invalid || isSaving"
                    class="btn btn-primary btn-sm" (click)="save()">
                Save
            </button>
        </div>
    </form>
</ng-template>
