<div class="m-widget1 top-no-pad">
    <div class="m-widget1__item">
        <div class="row m-row&#45;&#45;no-padding align-items-center">
            <div class="col">
                <h3 class="m-widget1__title">Inquiry Statistics</h3>
            </div>
        </div>
    </div>

    <div class="row m-row--no-padding align-items-center table-responsive">
        <table class="table" style="font-size: 12px;">
            <tr>
                <th>
                    Status
                </th>
                <th class="text-center">
                    Total Inquires
                </th>
                <th class="text-center">
                    Room Nights
                </th>
                <th class="text-center">
                    Revenue
                </th>
            </tr>
            <tr *ngIf="isLoadingInqStat ||  inqStatistics.length<1">
                <td colspan="4">
                    <div class="row text-center">
                        <div class="col-md-12">
                            <mat-spinner [diameter]="20" *ngIf="isLoadingInqStat"></mat-spinner>
                            <label *ngIf="inqStatistics.length<1 && !isLoadingInqStat">No data found</label>
                        </div>
                    </div>
                </td>
            </tr>
            <tr *ngFor="let stat of inqStatistics">
                <td>
                    <span class="m-widget1__title" [ngStyle]="{'color':stat.color_code}">
                        <b>
                            {{stat.status}}
                        </b>
                    </span>
                </td>
                <td class="text-center">
                    <span class="m-widget1__title text-center"
                          [ngStyle]="{'color':stat.color_code}">
                        <b>
                            {{stat.counts}}
                        </b>
                    </span>
                </td>
                <td class="text-center">
                    <span class="m-widget1__title text-center"
                          [ngStyle]="{'color':stat.color_code}">
                       <b>
                            {{stat.room_nights}}
                       </b>
                    </span>
                </td>
                <td nowrap class="text-right">
                    <span class="m-widget1__title text-right"
                          [ngStyle]="{'color':stat.color_code}">
                        <b>{{stat.amount| currency:'INR'}}</b>
                    </span>
                </td>
            </tr>
            <tr style="color: #bfbaba;" *ngIf="!isLoadingInqStat &&  inqStatistics.length>1">
                <td>
                    <span class="m-widget1__title text-right">
                    <b>
                        Total
                    </b>
                        </span>
                </td>
                <td class="text-center">
                    <span>
                    <b>
                        {{ inqStatistics | sum:'counts' }}
                    </b>
                                            </span>
                </td>
                <td class="text-center">
                    <span>
                   <b>
                       {{ inqStatistics | sum:'room_nights' }}
                   </b>
                    </span>
                </td>
                <td nowrap class="text-right">
                    <span class="m-widget1__title text-right">
                    <b>
                        {{(inqStatistics | sum:'amount')| currency:'INR' }}
                    </b>
                    </span>
                </td>
            </tr>
        </table>
    </div>
</div>
