.m-menu__item--active {
  background-color: #f7f8fa;
}
.m-nav .m-menu__item--active>.m-nav__link .m-nav__link-icon {
  color: #716aca !important;
}
.m-nav .m-menu__item--active>.m-nav__link .m-nav__link-text {
  color: #716aca !important;
}
.m-nav__link {
  cursor: pointer;
}