<div class="row">
    <div class="col-xl-2 col-lg-3 col-md-4">
        <div class="m-portlet m-portlet--full-height">
            <div class="m-portlet__body">
                <ul class="m-nav m-nav--hover-bg m-portlet-fit--sides">
                    <li class="m-nav__item"
                        *ngxPermissionsOnly="['settings']"
                        [ngClass]="{'m-menu__item--active': currentMenu==='settings'}">
                        <div class="m-nav__link" (click)="setCurrentMenu('settings')">
                            <i class="m-nav__link-icon fa fa-cog"></i>
                            <span class="m-nav__link-text">General</span>
                        </div>
                    </li>

                    <li class="m-nav__item"us
                        *ngxPermissionsOnly="['user-management']"
                        [ngClass]="{'m-menu__item--active': currentMenu==='user-management'}">
                        <div class="m-nav__link" (click)="setCurrentMenu('user-management')">
                            <i class="m-nav__link-icon fa fa-users"></i>
                            <span class="m-nav__link-text">Users</span>
                        </div>
                    </li>

                    <li class="m-nav__item"
                        *ngxPermissionsOnly="['company-manage']"
                        [ngClass]="{'m-menu__item--active': currentMenu==='company-manage'}">
                        <div class="m-nav__link" (click)="setCurrentMenu('company-manage')">
                            <i class="m-nav__link-icon fa fa-building"></i>
                            <span class="m-nav__link-text">Trulyy Companies</span>
                        </div>
                    </li>

                    <li class="m-nav__item"
                        *ngxPermissionsOnly="['hotel-manage']"
                        [ngClass]="{'m-menu__item--active': currentMenu==='hotel-manage'}">
                        <div class="m-nav__link" (click)="setCurrentMenu('hotel-manage')">
                            <i class="m-nav__link-icon fa fa-hotel"></i>
                            <span class="m-nav__link-text">Hotels</span>
                        </div>
                    </li>

                    <!-- <li class="m-nav__item"
                         *ngIf="loggedInUser.department_name!=='Sales'"
                         [ngClass]="{'m-menu__item&#45;&#45;active': currentMenu==='hotel_masters'}">
                         <div class="m-nav__link" (click)="setCurrentMenu('hotel_masters')">
                             <i class="m-nav__link-icon fa fa-cogs"></i>
                             <span class="m-nav__link-text">Property Masters</span>
                         </div>
                     </li>-->

                    <li class="m-nav__item"
                        *ngxPermissionsOnly="['rooms-manage']"
                        [ngClass]="{'m-menu__item--active': currentMenu==='rooms-manage'}">
                        <div class="m-nav__link" (click)="setCurrentMenu('rooms-manage')">
                            <i class="m-nav__link-icon fa fa-door-open"></i>
                            <span class="m-nav__link-text">Rooms</span>
                        </div>
                    </li>

                    <li class="m-nav__item"
                        *ngxPermissionsOnly="['rate-plans']"
                        [ngClass]="{'m-menu__item--active': currentMenu==='rate_plans'}">
                        <div class="m-nav__link" (click)="setCurrentMenu('rate_plans')">
                            <i class="m-nav__link-icon fa fa-rupee-sign"></i>
                            <span class="m-nav__link-text">Rate Plans</span>
                        </div>
                    </li>

                    <li class="m-nav__item"
                        *ngxPermissionsOnly="['rate-inventory']"
                        [ngClass]="{'m-menu__item--active': currentMenu==='rate-inventory'}">
                        <div class="m-nav__link" (click)="setCurrentMenu('rate-inventory')">
                            <i class="m-nav__link-icon fa fa-file-invoice-dollar"></i>
                            <span class="m-nav__link-text">Rate & Inventory</span>
                        </div>
                    </li>

                    <li class="m-nav__item" *ngxPermissionsOnly="['cm-settings']"
                        [ngClass]="{'m-menu__item--active': currentMenu==='cm-settings'}">
                        <div class="m-nav__link" (click)="setCurrentMenu('cm-settings')">
                            <i class="m-nav__link-icon fa fa-handshake"></i>
                            <span class="m-nav__link-text">CM Settings</span>
                        </div>
                    </li>

                    <li class="m-nav__item" *ngxPermissionsOnly="['cm-logs']"
                        [ngClass]="{'m-menu__item--active': currentMenu==='cm-logs'}">
                        <div class="m-nav__link" (click)="setCurrentMenu('cm-logs')">
                            <i class="m-nav__link-icon fa fa-history"></i>
                            <span class="m-nav__link-text">CM Logs</span>
                        </div>
                    </li>

                    <li class="m-nav__item" *ngxPermissionsOnly="['email-logs']"
                        [ngClass]="{'m-menu__item--active': currentMenu==='email-logs'}">
                        <div class="m-nav__link" (click)="setCurrentMenu('email-logs')">
                            <i class="m-nav__link-icon fas fa-at"></i>
                            <span class="m-nav__link-text">Email Logs</span>
                        </div>
                    </li>

                    <li class="m-nav__item"
                        *ngxPermissionsOnly="['email-templates']"
                        [ngClass]="{'m-menu__item--active': currentMenu==='email-templates'}">
                        <div class="m-nav__link" (click)="setCurrentMenu('email-templates')">
                            <i class="m-nav__link-icon fa fa-envelope"></i>
                            <span class="m-nav__link-text">Email Templates</span>
                        </div>
                    </li>

                    <li class="m-nav__item"
                        *ngxPermissionsOnly="['role-management']"
                        [ngClass]="{'m-menu__item--active': currentMenu==='role-management'}">
                        <div class="m-nav__link" (click)="setCurrentMenu('role-management')">
                            <i class="m-nav__link-icon fa fa-lock"></i>
                            <span class="m-nav__link-text">Roles</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-xl-10 col-lg-9 col-md-8" *ngIf="currentMenu==='settings'">
        <m-basic-settings></m-basic-settings>
    </div>


    <div class="col-xl-10 col-lg-9 col-md-8" *ngIf="currentMenu==='user-management'">
        <m-users-management></m-users-management>
    </div>

    <div class="col-xl-10 col-lg-9 col-md-8" *ngIf="currentMenu==='role-management'">
        <m-role-management></m-role-management>
    </div>

    <div class="col-xl-10 col-lg-9 col-md-8" *ngIf="currentMenu==='company-manage'">
        <m-organizations></m-organizations>
    </div>

    <div class="col-xl-10 col-lg-9 col-md-8" *ngIf="currentMenu==='hotel-manage'">
        <m-hotel-manage></m-hotel-manage>
    </div>

    <div class="col-xl-10 col-lg-9 col-md-8" *ngIf="currentMenu==='hotel_masters'">
        <m-property-masters></m-property-masters>
    </div>

    <div class="col-xl-10 col-lg-9 col-md-8" *ngIf="currentMenu==='rooms-manage'">
        <m-hotel-rooms></m-hotel-rooms>
    </div>

    <div class="col-xl-10 col-lg-9 col-md-8" *ngIf="currentMenu==='rate_plans'">
        <m-rate-plans></m-rate-plans>
    </div>

    <div class="col-xl-10 col-lg-9 col-md-8" *ngIf="currentMenu==='rate-inventory'">
        <m-rate-inventory-view></m-rate-inventory-view>
    </div>

    <div class="col-xl-10 col-lg-9 col-md-8" *ngIf="currentMenu==='email-logs'">
        <m-email-log></m-email-log>
    </div>

    <div class="col-xl-10 col-lg-9 col-md-8" *ngIf="currentMenu==='email-templates'">
        <m-email-templates></m-email-templates>
    </div>

    <div class="col-xl-10 col-lg-9 col-md-8" *ngIf="currentMenu==='cm-settings'">
        <m-cm-settings></m-cm-settings>
    </div>

    <div class="col-xl-10 col-lg-9 col-md-8" *ngIf="currentMenu==='cm-logs'">
        <m-cm-logs></m-cm-logs>
    </div>


</div>
